<%= bootstrap_form_for(@event_attribute) do |f| %>
    <% if @event_attribute.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event_attribute.errors.count, "error") %> prohibited this event_attribute from being
            saved:</h2>

          <ul>
            <% @event_attribute.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.text_field :name, label: 'Kentän nimi' %>
    </div>
    <div class="field">
      <%= f.text_field :attribute_label, label: 'Kentän otsikko' %>
    </div>
    <div class="field">
      <%= f.select :attribute_type, options_for_select(@attribute_types), label: 'Valitse kentän tyyppi' %>
    </div>
    <div class="field">
      <%= f.text_field :attribute_value, label: 'Kirjoita kentän valinnat puolipisteellä eroteltuna:' %>
    </div>
    <p>
      Kirjoita kenttään liittyvien maksujen arvo sentteinä. Monivalinnan tapauksessa anna arvot puolipisteellä eroteltuna vastaavassa järjestyksessä kuin yllä. Jos kenttään ei liity maksua, voit jättää seuraavat tyhjäksi.
    </p>
    <div class="field">
      <%= f.text_field :payment_value, label: 'Normaalin ilmoittautumisen hinnat:' %>
    </div>
    <div class="field">
      <%= f.text_field :second_payment_value, label: 'Jälki-ilmoittautumisen hinnat:' %>
    </div>

    <%= f.hidden_field :event_id, :value => params[:event_id] %>

    <div class="actions">
      <%= f.submit 'Lisää kenttä ilmoittautumislomakkeeseen' %>
    </div>
<% end %>