<%= bootstrap_form_for(@event_attribute) do |f| %>
    <% if @event_attribute.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event_attribute.errors.count, "error") %> prohibited this event_attribute from being
            saved:</h2>

          <ul>
            <% @event_attribute.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.text_field :name, label: 'Kysymyksen tunniste (ei näy lomakkeella)' %>
    </div>
    <div class="field">
      <%= f.select :attribute_type, options_for_select(@attribute_types), label: 'Valitse kysymyksen tyyppi (suosi valintaruutua)' %>
    </div>
    <div class="field">
        <%= f.text_field :attribute_label, label: 'Otsikko tyyliin "Pasta Party" (näkyy vain monivalinta-, alasvetovalikko-, tekstikenttä- ja päivämääräksymyksissä)' %>
    </div>
    <div class="field">
      <%= f.text_field :attribute_value, label: 'Kirjoita valintavaihtoehdot puolipisteellä eroteltuna tyyliin: "Haluan osallistua Pasta Partyyn"' %>
    </div>
    <div>
        <label>Valintaan liittyvä maksu</label>
        <p>Monivalinnan tapauksessa kirjoita maksut puolipisteellä eroteltuna vastaavassa järjestyksessä kuin yllä. Jos valintaan ei liity maksua, voit jättää seuraavat tyhjäksi.</p>
        <span class="field">
          <%= f.text_field :payment_value, label: 'Normaali ilmoittautuminen (sentteinä):' %>
        </span>
        <span class="field">
          <%= f.text_field :second_payment_value, label: 'Jälki-ilmoittautuminen (sentteinä):' %>
        </span>
    </div>

    <%= f.hidden_field :event_id, :value => params[:event_id] %>

    <div class="actions">
      <%= f.submit 'Lisää kenttä ilmoittautumislomakkeeseen' %>
    </div>
<% end %>