</div>
<div class="container etusivu">
    <div class="col-sm-12">
        <% if not current_user.nil? %>
            <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
            <p><%= link_to 'Ilmoittautumiset', user_path(current_user) %></p>
            <% if current_user.group %>
                <p><%= link_to 'Joukkue', group_path(current_user.group) %></p>
            <% end %>
            <% if current_user.relay_group %>
                <p><%= link_to 'Viestijoukkue', relay_group_path(current_user.relay_group) %></p>
            <% end %>
            <% if current_user.statistic %>
                <p><%= link_to 'Tilastot', statistic_path(current_user.statistic.id) %></p>
            <% end %>
            <p><%= link_to 'Yhteystiedot', edit_user_path(current_user) %></p>
        <% end %>
        <% if user_is_admin? %>
            <h2>Yll채pito</h2>
            <h4><%= link_to 'Hallinnoi k채ytt채ji채', users_path %></h4>
            <h4><%= link_to 'Luo uusi tapahtuma', new_event_path %></h4>
            <h4><%= link_to 'Listaa tapahtumat', events_path %></h4>
            <h4><%= link_to 'Hallinnoi uutisia', uutiset_index_url %></h4>
            <h4><%= link_to 'Ilmoittautuneet tapahtumittain', enrollments_path %></h4>
            <h4><%= link_to 'Kierroksen hallinta', admin_kk_enrollment_path %></h4>
            <h4><%= link_to 'Vaihda kansikuva', admin_cover_image_path %></h4>
            <h4><%= link_to 'Lue viitemaksut', admin_import_payments_path %></h4>
        <% end %>
    </div>
    <h1><a href="http://kalevankierros.fi/" class="btn btn-default">Takaisin etusivulle</a></h1>

