<div class="cover-image" style="background-image: url('<%= asset_path @cover_image_path.value %>')">
  <div class="container"><img src="<%= asset_path 'KK_pysty_verkko_RGB_nega.png' %>" style="height: 30%; width: 30%; margin-top: -5px;"/></div>
</div>

<div class="container">
  <div class="col-lg-8">
    <h4>Kalevan Kierros on kuuden kestävyyslajin kunto- ja kilpaurheilutapahtuma.
    Kierros motivoi kuntoilijaa säännölliseen liikkumiseen ja koettelee urheilijaa erilaisilla vaatimuksillaan.
    Harjoittelu ei ole yksipuolista, kun kilpailulaji vaihtuu säännöllisesti noin kahden kuukauden välein.</h4>
  </div>
  <div class="col-lg-4" >
    <a href="http://www.facebook.com/KalevanKierros" title="Kalevan Kierros Facebookissa"><h4><%= image_tag 'facebook-icon.png', height: '50'   %> Facebook-ryhmä</h4></a>
    <a href="http://palvelin3.kalevankierros.fi/phpbb" title="Kalevan Kierros - Foorumi"><h4><%= image_tag 'foorumi.png', height: '50'  %> KK-Forum</h4></a>
  </div>
  <div class="col-lg-8">
    <h4>Osakilpailut vuonna 2016</h4>
    <div class="row">
      <div class="col-xs-2"><h5>30.1.</h5></div>
      <div class="col-xs-2"><h5>Luistelu</h5></div>
      <div class="col-xs-2"><h5>30 km</h5></div>
      <div class="col-xs-4"><h5>Oulunkylä, Helsinki</h5></div>
    </div>
    <div class="row">
      <div class="col-xs-2"><h5>19.3.</h5></div>
      <div class="col-xs-2"><h5>Hiihto</h5></div>
      <div class="col-xs-2"><h5>45 km</h5></div>
      <div class="col-xs-4"><h5>Vuokatti, Sotkamo</h5></div>
    </div>
    <div class="row">
      <div class="col-xs-2"><h5>21.5.</h5></div>
      <div class="col-xs-2"><h5>Juoksu</h5></div>
      <div class="col-xs-2"><h5>21.1km/42.2km</h5></div>
      <div class="col-xs-4"><h5>Tuusula</h5></div>
    </div>
    <div class="row">
      <div class="col-xs-2"><h5>2.7.</h5></div>
      <div class="col-xs-2"><h5>Soutu</h5></div>
      <div class="col-xs-2"><h5>30 km</h5></div>
      <div class="col-xs-4"><h5>Keuruu</h5></div>
    </div>
    <div class="row">
      <div class="col-xs-2"><h5>20.8.</h5></div>
      <div class="col-xs-2"><h5>Pyöräily</h5></div>
      <div class="col-xs-2"><h5>70 km</h5></div>
      <div class="col-xs-4"><h5>Iitti</h5></div>
    </div>
    <div class="row">
      <div class="col-xs-2"><h5>25.9.</h5></div>
      <div class="col-xs-2"><h5>Suunnistus</h5></div>
      <div class="col-xs-2"><h5>15 km</h5></div>
      <div class="col-xs-4"><h5>Hämeenkyrö</h5></div>
    </div>

    <h1>
      <% if enrollment_open? %>
        <%= link_to('Ilmoittaudu Kalevan Kierrokselle 2016', ilmoittautuminen_path, :class => "btn btn-primary") %>
      <% end %>
    </h1>
    <h1>_</h1>
  </div>
  <div class="col-lg-4" >
    <%= render :partial => '/uutiset/latest', locals: {show_latest: Uutiset.order('created_at desc').limit(10)} %>
  </div>
  <div class="col-lg-4">
    <%= render_shareable :buttons=> ['twitter', 'facebook'] %>
  </div>
</div>

<div class="container">
  <div class="col-lg-3">
    <a href="http://www.haastaitsesikunnolla.fi/vuokatti+hiihto">
      <img src="<%= asset_path 'VuokattiHiihto_logo.jpg' %>">
    </a>
  </div>
  <div class="col-lg-3">
    <a href="http://www.pwt-urheilumatkat.fi">
      <img src="download/PWTbanneri.JPG">">
    </a>
  </div>
  <div class="col-lg-3">
    <a href="http://tuusulanjarvenmaraton.fi/">
      <img src="download/tjm.png">
    </a>
  </div>
</div>