<div class="col-md-8">

<h1>Kierroksen hallinta</h1>
<p>Voit hallita kierrosilmoittautumista täältä. Mikäli ilmoittautuminen ei ole avoinna, eivät kiertäjät pääse ilmoittautumaan kierrokselle. </p>
<% if enrollment_open? %>
  Vuosi: <%= @kk_year.value %><br>
  Kierroksen tilinumero: <%= @account_number.value %>
  Jäsenen joukkueen lisäämisen deadline: <%= Date.parse(@deadline.value).to_s %>
  <%= button_to('Sulje ilmoittautuminen', kk_enrollment_change_path, :class => "btn btn-danger") %>
<% else %>
  <%= form_tag kk_enrollment_change_path do%>
  <%= label_tag :kk_year, 'Vuosi (vaaditaan)' %><br>
  <%= number_field_tag :kk_year, Date.today.year %><br>
  <%= label_tag :account_number, 'Kierroksen tilinumero IBAN-muodossa (vaaditaan)' %>
  <%= text_field_tag :account_number %><br>
  <%= label_tag :group_deadline, 'Jäsenen lisääminen joukkueeseen deadline. (vaaditaan)' %>
  <%= select_date Date.today, prefix: :deadline %><br>
  <%= submit_tag 'Avaa ilmoittautuminen', :class => 'btn btn-success' %>
  <% end %>
<% end %>
<br>
<%= button_to('Näytä ilmoittautumiset', kk_enrollments_path, method: :get, :class => "btn btn-primary") %>
<br>
<%= button_to('Näytä viestijoukkueet', relay_groups_path, method: :get, :class => "btn btn-primary") %>
<br>
<b>Lataa kunniakirjat</b>
<p>Huom. kunniakirjat voi ladata vasta kun suunnistustapahtuma on luotu. Muista tarkistaa nimien oikeinkirjoitus ja tiedostoformaatin oikeellisuus. Kunniakirjoihin tulostuvien tapahtumien nimet on vaihdettavissa nimeämällä itse tapahtuma uudelleen.</p>
<%= button_to('Lataa', export_diplomas_path, method: :get, :class => "btn btn-primary") %>

<br>
<b>Lataa osoitetarrat ilmoittautuneille kiertäjille.</b>
<%= button_to('Lataa', export_address_stickers_path, method: :get, :class => "btn btn-primary") %>

<br>
<b>Listaa vuoden ansiomerkit</b>
<p>Ansiomerkkilistaus on ladattavissa koko vuoden ajan. Lopullinen versio on saatavilla kun viimeinen osakilpailu on pisteytetty, jolloin myös vuoden kehittyjät listataan.</p>
<%= button_to('Avaa lista', years_awards_path, method: :get, :class => "btn btn-primary") %>

<br>
<b>Lataa henkilökohtaiset tulokset</b><br>
<%= button_to('Lataa kaikki tulokset', individual_results_to_year_book_path(gender: "kaikki", format: :xlsx), method: :get, :class => "btn btn-primary") %><br>
<%= button_to('Lataa naisten tulokset', individual_results_to_year_book_path(gender: "naiset", format: :xlsx), method: :get, :class => "btn btn-primary") %>

<br>
<b>Lataa joukkuetulokset</b><br>
<%= button_to('Lataa sekajoukkuetulokset', results_for_mixed_groups_path(format: :xlsx), method: :get, :class => "btn btn-primary") %><br>
<%= button_to('Lataa naisten joukkuetulokset', results_for_female_groups_path(format: :xlsx), method: :get, :class => "btn btn-primary") %>

<br>
<b>Lataa sarjakohtaiset kärkitulokset</b><br>
<%= button_to('Lataa', top_series_results_path, method: :get, :class => "btn btn-primary") %><br>

<br>
<b>Päivitä tulosten tiedot tilastoihin</b>
<p><b>Huom. kunniakirjat ja ansiomerkkilistaukset tulee ladata ja tarkistaa ennen vuoden tulosten vientiä tilastoihin.</b></p>
<p>Uudet ansiomerkit tulee päivittää saajille käsin.</p>
<%= bootstrap_form_tag url: statistics_update_path, method: :post do |f| %>
  <%= f.select :year, options_for_select(@years), label: 'Vuosi' %>
  <%= f.submit 'Päivitä tilastot', onclick: "return confirm('Päivitetäänkö tilastot?')" %>
<% end %>
</div>