<div class="col-md-8">
    <div class="bs-component">
        <h2>Kirjaudu sisään</h2>
        <%= bootstrap_form_tag url: sessions_path(redirect: @redirect, id: @id) do |f| %>
            <%= f.text_field :username, label: "Käyttäjätunnus: " %>
            <%= f.password_field :password, label: "Salasana: " %>
            <%= f.submit "Kirjaudu sisään", class: "btn btn-primary" %>
        <% end %>
    </div>
    <p>
        <%= link_to 'Unohditko salasanasi?', new_password_reset_path %><br/>
        <a href="mailto:kayttajatunnus@kalevankierros.fi?subject=[KK]Unohdin käyttäjätunnukseni">Unohditko käyttäjätunnuksesi?</a>
    </p>
    <p>
        Oletko uusi kiertäjä?<br/>
        <%= link_to 'Rekisteröidy kiertäjäksi', signup_path, :class => "btn btn-default" %>
    </p>
</div>
