<div class="col-lg-4">
  <div class="bs-component">
    <h1>Kirjautuminen</h1>

    <%= bootstrap_form_tag url: sessions_path do |f| %>
        <%= f.text_field :username, label: "Käyttäjätunnus: " %>
        <%= f.password_field :password, label: "Salasana: " %>
        <%= f.submit "Kirjaudu sisään", class: "btn btn-primary" %>
    <% end %>
  </div>
  <%= link_to 'Unohditko salasanasi?', new_password_reset_path %>
</div>
