<h2>Uusi salasana</h2>
<p>Jos olet unohtanut salasanasi, voimme auttaa sinua luomaan uuden. Kirjoita alla oleviin kenttiin
käyttäjätunnuksesi ja sähköpostiosoitteesi. Lähetämme sinulle viestin, jonka avulla voit määritellä
käyttäjätunnuksellesi uuden salasanan.</p>

<div class="col-md-8">
<%= form_tag('/password_resets') do %>
  <div class="form-group">
    <%= label_tag 'Käyttäjätunnus', :class => "control-label" %>
    <%= text_field_tag :username, :class => "form-control" %>
    <%= label_tag 'Sähköposti', :class => "control-label" %>
    <%= text_field_tag :email, :class => "form-control" %>
    <%= submit_tag 'Lähetä uusi salasana', class: "btn btn-primary" %>
  </div>
<% end %>
</div>
