<h2>Ilmoittaudu yksilökilpailuun</h2>
<p>Kalevan kierroksen yksilökilpailu on kuuden lajin yhteiskilpailu.</p>
<p>Ole hyvä ja tarkista tietosi ennen ilmoittautumista.</p>

<div class="field">
  <label class="control-label" for="user_name">Nimi: </label>
  <p id="user_name"><%= @user.first_name %> <%= @user.last_name %></p>
  <label class="control-label" for="user_address">Osoite: </label>
  <p id="user_address"> <%= @user.address %></p>
  <label class="control-label" for="user_email">Sähköposti: </label>
  <p id="user_email"><%= @user.email %></p>
  <label class="control-label" for="user_phone_number">Puhelinnumero: </label>
  <p id="user_phone_number"><%= @user.phone_number %></p>
  <label class="control-label" for="user_birth_date">Syntymäaika: </label>
  <p id="user_birth_date"><%= @user.birth_date %></p>
  <label class="control-label" for="user_gender">Sukupuoli: </label>
  <p id="user_gender"><%= @user.gender=='N' ? 'Nainen' : 'Mies' %></p>
</div>

<style type="text/css">
  div.field > label{
      display: inline;
      font-weight: normal;
  }
    div.field > p {
        font-size: 16px;
    }
</style>
<h4><%= link_to 'Muokkaa tietojasi', edit_user_path(@user.id), :class => "btn btn-default" %> </h4>
<h4><%= button_to 'Ilmoittaudu yksilökilpailuun', url_for(controller: :kk_enrollments, action: :create ), :class => "btn btn-primary" %></h4>
<h1><a href="http://kalevankierros.fi/ilmoittaudu/" class="nappula btn btn-default">Takaisin</a></h1>
