<h1>Ilmoittautuminen Kalevan Kierrokselle <%= Date.today.year %></h1>
<h2 color="red">HUOM! Älä ilmoittaudu tämän sivun kautta jos haluat osallistua kierrokselle joukkueen mukana. Jos ilmoittaudut tältä sivulta, sinua ei voi lisätä enää joukkueeseen.</h2>
<p>Ole hyvä ja tarkista tietosi ennen ilmoittautumista:</p>


<div class="field">
  <label class="control-label" for="user_name">Etunimi: </label>
  <p id="user_name"><%= @user.first_name %> <%= @user.last_name %></p>
  <label class="control-label" for="user_address">Etunimi: </label>
  <p id="user_address"> <%= @user.address %></p>
  <label class="control-label" for="user_email">Sähköposti: </label>
  <p id="user_email"><%= @user.email %></p>
  <label class="control-label" for="user_phone_number">Puhelinnumero: </label>
  <p id="user_phone_number"><%= @user.phone_number %></p>
  <label class="control-label" for="user_birth_date">Syntymäaika: </label>
  <p id="user_birth_date"><%= @user.birth_date %></p>
  <label class="control-label" for="user_gender">Sukupuoli: </label>
  <p id="user_gender"><%= @user.gender=='F' ? 'Nainen' : 'Mies' %></p>
</div>

<style type="text/css">
  div.field > label{
      font-weight: normal;
  }
    div.field > p {
        margin-top: -5px;
        font-size: 16px;
    }
</style>

<p><%= link_to ('<span class="glyphicon glyphicon-edit"></span> Muokkaa tietoja').html_safe, edit_user_path, :class => ""%></p>

<%= button_to 'Ilmoittaudu kierrokselle', url_for(controller: :kk_enrollments, action: :create ), :class => "btn btn-info" %>
<%= link_to 'Takaisin', '/ilmoittautuminen', class:"btn btn-default" %>