<strong>Nykyinen tilasto:</strong>

<% if @current_statistic %>
  <table class="table table-bordered">
    <tr>
      <th>Kiertäjänumero</th>
      <th>Sukunimi</th>
      <th>Etunimi</th>
      <th>Kotipaikka</th>
      <th>Syntymävuosi</th>
      <th>P</th>
      <th>6</th>
      <th>5</th>
      <th>4</th>
      <th>Yhteensä</th>
      <th>Kokonaispisteet</th>
      <th>Rintamerkki</th>
      <th>Ansioviiri</th>
      <th>AP</th>
      <th>Kunniakiertäjänumero</th>
      <th>Veljeskunnan jäsennumero</th>
    </tr>
    <tr>
      <td><%= @current_statistic.kk_number %></td>
      <td><%= @current_statistic.last_name %></td>
      <td><%= @current_statistic.first_name %></td>
      <td><%= @current_statistic.city %></td>
      <td><%= @current_statistic.birth_year %></td>
      <td><%= @current_statistic.p %></td>
      <td><%= @current_statistic.six_events_completed_count %></td>
      <td><%= @current_statistic.five_events_completed_count %></td>
      <td><%= @current_statistic.four_events_completed_count %></td>
      <td><%= @current_statistic.total_events_completed %></td>
      <td><%= @current_statistic.pts_sum.round(2) %></td>
      <td><%= @current_statistic.r %></td>
      <td><%= @current_statistic.a %></td>
      <td><%= @current_statistic.ap %></td>
      <td><%= @current_statistic.k %></td>
      <td><%= @current_statistic.v %></td>
    </tr>
  </table>
<% else %>
  <p>Ei nykyistä tilastoa.</p>
<% end %>

<p>
  <strong>Liitettävä tilasto:</strong>
<div class="input-group">
  <%= text_field_tag 'kk_number', nil, class: 'form-control autocomplete', id: 'kk_input' %>
  <span id="delete" class="input-group-addon">&nbsp;&nbsp;&nbsp</span>
</div>

</p>

<table class="table table-bordered">
  <tr>
    <th>Kiertäjänumero</th>
    <th>Sukunimi</th>
    <th>Etunimi</th>
    <th>Kotipaikka</th>
    <th>Syntymävuosi</th>
    <th>P</th>
    <th>6</th>
    <th>5</th>
    <th>4</th>
    <th>Yhteensä</th>
    <th>Kokonaispisteet</th>
    <th>Rintamerkki</th>
    <th>Ansioviiri</th>
    <th>AP</th>
    <th>Kunniakiertäjänumero</th>
    <th>Veljeskunnan jäsennumero</th>
  </tr>

<%= form_tag join_statistic_path(@user), method: :put do %>
    <tr id="result">
  <% if @potential_statistic %>
        <td><%= @potential_statistic.kk_number %></td>
        <td><%= @potential_statistic.last_name %></td>
        <td><%= @potential_statistic.first_name %></td>
        <td><%= @potential_statistic.city %></td>
        <td><%= @potential_statistic.birth_year %></td>
        <td><%= @potential_statistic.p %></td>
        <td><%= @potential_statistic.six_events_completed_count %></td>
        <td><%= @potential_statistic.five_events_completed_count %></td>
        <td><%= @potential_statistic.four_events_completed_count %></td>
        <td><%= @potential_statistic.total_events_completed %></td>
        <td><%= @potential_statistic.pts_sum.round(2) %></td>
        <td><%= @potential_statistic.r %></td>
        <td><%= @potential_statistic.a %></td>
        <td><%= @potential_statistic.ap %></td>
        <td><%= @potential_statistic.k %></td>
        <td><%= @potential_statistic.v %></td>
      </tr>
      <input id="statistic_id" name="statistic_id" type="hidden" value="<%= @potential_statistic.id %>" \>
  <% else %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <input id="statistic_id" name="statistic_id" type="hidden" value="" \>
  <% end %>
</table>
<%= submit_tag 'Liitä tilasto', class: 'btn btn-primary', onClick: "return confirm('Käyttäjän nykyinen tilasto poistetaan. Toimintoa ei voi peruuttaa.')" %><br>

<% end %>

<%= link_to 'Palaa takaisin', users_path %>

<script type="text/javascript">
    $("input.autocomplete").autocomplete({ delay: 50, minLength: 2, autoFocus: true,
        select: function (event, ui) {
            var kk_number = ui.item.label.substring(0, ui.item.label.indexOf(' '));
            var statistic_id = ui.item.statistic_id;
            var statistic = $.ajax("/statistics/" + statistic_id + ".json").success(function(obj) {
              var response = statistic.responseJSON;

              $( '#result' ).replaceWith(
                "<tr id=\"result\"> \
                 <td>" + response['kk_number'] + "</td>\
                 <td>" + response['last_name'] + "</td>\
                 <td>" + response['first_name'] + "</td>\
                 <td>" + response['city'] + "</td>\
                 <td>" + response['birth_year'] + "</td>\
                 <td>" + response['p'] + "</td>\
                 <td>" + response['six_events_completed_count'] + "</td>\
                 <td>" + response['five_events_completed_count'] + "</td>\
                 <td>" + response['four_events_completed_count'] + "</td>\
                 <td>" + response['total_events_completed'] + "</td>\
                 <td>" + response['pts_sum'] + "</td>\
                 <td>" + response['r'] + "</td>\
                 <td>" + response['a'] + "</td>\
                 <td>" + response['ap'] + "</td>\
                 <td>" + response['k'] + "</td>\
                 <td>" + response['v'] + "</td></tr>"
                );
              getHiddenField.val(response['id']);
            $( '#delete' ).html(
                    '&nbsp;<a href="#"><span onclick="clearInput(event)" class="glyphicon glyphicon-remove clearmember"></span></a>'
                );
            $( '#kk_input').val(kk_number);
        })},
        source: <%= raw(statisticsearch) %>});

    function clearInput(event){
        event.preventDefault();
        $( '#kk_input' ).val("");
        $( '#statistic_id' ).val("");
        $( '#delete' ).html('&nbsp;&nbsp;&nbsp;');
        $( '#result' ).replaceWith('\
            <tr id=\"result\">\
            <td></td>\
            <td></td>\
            <td></td>\
            <td></td>\
            <td></td>\
            <td></td>\
            <td></td>\
            <td></td>\
            <td></td>\
            <td></td>\
            <td></td>\
            <td></td>\
            <td></td>\
            <td></td>\
            <td></td>\
            <td></td>\
            <td></td></tr>');
    }
    var getHiddenField = "";

    $(document).ready(function(){
      $( '#kk_input' ).val("");
      getHiddenField = (function() {
        return $('#statistic_id');
      }());
    });
</script>
