<div class="col-lg-6">
  <p>
    <strong>Kiertäjänumero</strong>
    <%= @statistic.kk_number %>
  </p>
  <p>
    <strong>Sukunimi</strong>
    <%= @statistic.last_name %>
  </p>
  <p>
    <strong>Etunimi</strong>
    <%= @statistic.first_name %>
  </p>
  <p>
    <strong>Kotipaikka</strong>
    <%= @statistic.city %>
  </p>
  <p>
    <strong>Syntymävuosi</strong>
    <%= @statistic.birth_year %>
  </p>
  <p>
    <% if @statistic.p %>
      <strong>Puolimatka</strong>
      <%= @statistic.p %>
    <% end %>
  </p>
  <p>
    <strong>6</strong>
    <%= @statistic.six_events_completed_count %>
  </p>
  <p>
    <strong>5</strong>
    <%= @statistic.five_events_completed_count %>
  </p>
  <p>
    <strong>4</strong>
    <%= @statistic.four_events_completed_count %>
  </p>
  <p>
    <strong>Yhteensä</strong>
    <%= @statistic.total_events_completed %>
  </p>
  <p>
    <strong>Kokonaispisteet</strong>
    <%= @statistic.pts_sum %>
  </p>
  <p>
    <strong>Rintamerkki</strong>
    <% if @statistic.r %>
      Kyllä
    <% else %>
      Ei
    <% end %>
  </p>
  <p>
    <% if @statistic.a > 0 %>
      <strong>Ansioviiri</strong>
      <%= @statistic.a %>
    <% end %>
  </p>
  <p>
    <% if @statistic.ap %>
      <strong>Ansioviiri (puolimatka)</strong>
      <%= @statistic.ap %>
    <% end %>
  </p>
  <p>
    <% if @statistic.k > 0 %>
      <strong>Kunniakiertäjänumero</strong>
      <%= @statistic.k %>
    <% end %>
  </p>
  <p>
    <% if @statistic.v > 0 %>
      <strong>Veljeskunnan jäsennumero</strong>
      <%= @statistic.v %>
    <% end %>
  </p>
  <%= link_to 'Takaisin', :back %>

</div>
