<div class="col-lg-6">
  <p>
    <strong>Kiertäjänumero</strong><br>
    <%= @statistic.kk_number %>
  </p>
  <p>
    <strong>Sukunimi</strong><br>
    <%= @statistic.last_name %>
  </p>
  <p>
    <strong>Etunimi</strong><br>
    <%= @statistic.first_name %>
  </p>
  <p>
    <strong>Kotipaikka</strong><br>
    <%= @statistic.city %>
  </p>
  <p>
    <strong>Syntymävuosi</strong><br>
    <%= @statistic.birth_year %>
  </p>
  <p>
    <strong>P</strong><br>
    <%= @statistic.p %>
  </p>
  <p>
    <strong>6</strong><br>
    <%= @statistic.six_events_completed_count %>
  </p>
  <p>
    <strong>5</strong><br>
    <%= @statistic.five_events_completed_count %>
  </p>
  <p>
    <strong>4</strong><br>
    <%= @statistic.four_events_completed_count %>
  </p>
  <p>
    <strong>Yhteensä</strong><br>
    <%= @statistic.total_events_completed %>
  </p>
  <p>
    <strong>Kokonaispisteet</strong><br>
    <%= @statistic.pts_sum %>
  </p>
  <p>
    <strong>Rintamerkki</strong><br>
    <%= @statistic.r %>
  </p>
  <p>
    <strong>Ansioviiri</strong><br>
    <%= @statistic.a %>
  </p>
  <p>
    <strong>AP</strong><br>
    <%= @statistic.ap %>
  </p>
  <p>
    <strong>Kunniakiertäjänumero</strong><br>
    <%= @statistic.k %>
  </p>
  <p>
    <strong>Veljeskunnan jäsennumero</strong><br>
    <%= @statistic.v %>
  </p>

</div>
