<div class="col-lg-6">
  <p>
    <strong>Kiertäjänumero</strong>
    <%= @statistic.kk_number %>
  </p>
  <p>
    <strong>Sukunimi</strong>
    <%= @statistic.last_name %>
  </p>
  <p>
    <strong>Etunimi</strong>
    <%= @statistic.first_name %>
  </p>
  <p>
    <strong>Kotipaikka</strong>
    <%= @statistic.city %>
  </p>
  <p>
    <strong>Syntymävuosi</strong>
    <%= @statistic.birth_year %>
  </p>
  <p>
    <strong>P</strong>
    <%= @statistic.p %>
  </p>
  <p>
    <strong>6</strong>
    <%= @statistic.six_events_completed_count %>
  </p>
  <p>
    <strong>5</strong>
    <%= @statistic.five_events_completed_count %>
  </p>
  <p>
    <strong>4</strong>
    <%= @statistic.four_events_completed_count %>
  </p>
  <p>
    <strong>Yhteensä</strong>
    <%= @statistic.total_events_completed %>
  </p>
  <p>
    <strong>Kokonaispisteet</strong>
    <%= @statistic.pts_sum %>
  </p>
  <p>
    <strong>Rintamerkki</strong>
    <%= @statistic.r %>
  </p>
  <p>
    <strong>Ansioviiri</strong>
    <%= @statistic.a %>
  </p>
  <p>
    <strong>AP</strong>
    <%= @statistic.ap %>
  </p>
  <p>
    <strong>Kunniakiertäjänumero</strong>
    <%= @statistic.k %>
  </p>
  <p>
    <strong>Veljeskunnan jäsennumero</strong>
    <%= @statistic.v %>
  </p>

</div>
