<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Kiitos ilmoittautumisesta Kalevan Kierroksen Soutuun</p>
    <p>Ilmoitetut tiedot:</p>
    <p>Nimi: <%= @user.last_name %> <%= @user.first_name %></p>
    <% if @pair && !@pair.empty? %>
      <p>Parin nimi: <%= @pair %></p>
    <% end %>
    <p>Tyyli: <%= @style %></p>
    <p>Sarja: <%= @user.define_series %></p>
    <% if @user.group %>
      <p>Seura: <%= @user.group.name %></p>
    <% end %>
    <p>Kiertäjänumero: <%= @user.kk_number %></p>
    <p>Sähköposti: <%= @user.email %></p>
    -----------------------------------------------------------------
    <% if !@account_number.empty? %>
      <p>Osallistumismaksu <%= @price %> euroa maksettava viitenumerolla <%= @user.construct_reference_number %> tilille <%= @account_number %><br>
        Eräpäivä: <%= @pay_day %></p>
    <% end %>
  </body>
</html>
