<%= bootstrap_form_for(@group) do |f| %>
    <% if @group.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event_attribute.errors.count, "error") %> prohibited this event_attribute from being saved:</h2>

          <ul>
            <% @event_attribute.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name, 'Joukkueen nimi:' %><br>
      <%= f.text_field :name %><br>
      Anna jäsenten kiertäjänumerot: <br>
      <div class="input-group">
        <span class="input-group-addon">1.</span>
        <%= text_field_tag 'kk_numbers[]', nil, :class => "form-control form-inline"  %>
        <span class="input-group-addon">&nbsp; </span>
      </div>
      <div class="input-group">
        <span class="input-group-addon">2.</span>
        <%= text_field_tag 'kk_numbers[]', nil, :class => "form-control form-inline"  %>
        <span class="input-group-addon">&nbsp; </span>
      </div>
      <div class="input-group">
        <span class="input-group-addon">3.</span>
        <%= text_field_tag 'kk_numbers[]', nil, :class => "form-control form-inline"  %>
        <span class="input-group-addon">&nbsp; </span>
      </div>
      <div class="input-group">
        <span class="input-group-addon">4.</span>
        <%= text_field_tag 'kk_numbers[]', nil, :class => "form-control form-inline"  %>
        <span class="input-group-addon">&nbsp; </span>
      </div>
      <div class="input-group">
        <span class="input-group-addon">5.</span>
        <%= text_field_tag 'kk_numbers[]', nil, :class => "form-control form-inline"  %>
        <span class="input-group-addon">&nbsp; </span>
      </div>
      <div class="input-group">
        <span class="input-group-addon">6.</span>
        <%= text_field_tag 'kk_numbers[]', nil, :class => "form-control form-inline"  %>
        <span class="input-group-addon">&nbsp; </span>
      </div><br/>
      <br>
    </div>

    <script type="text/javascript">
        $( "input" ).autocomplete({ delay:50, minLength:2, autoFocus: true,
            select: function(event, ui){
                var parent  = $(event.target);
                var element = parent.next('span');
                var name = ui.item.label.replace(/\d{2,}?\s/, "");
//                element.html(ui.item.label.slice(9) + '&nbsp;<span class="clearmember">x</span>');
                element.html(name + '&nbsp;<a href="#"><span class="glyphicon glyphicon-remove clearmember"></span></a>');
                $( "span.clearmember" ).click(function(){ parent.prop('readonly', false); parent.val(''); element.html(''); });
                parent.prop('readonly', true);
//              parent.addClass("form-control-static");

            },
            source: <%= raw(usersearch) %>});
    </script>

    <div class="field">
    </div>

    <div class="actions">
      <%= f.submit 'Luo joukkue' %>
    </div>
<% end %>
