<%= bootstrap_form_for(@group) do |f| %>
    <% if @group.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

          <ul>
            <% @group.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <h4><%= f.text_field :name, label: "Joukkueen nimi:" %></h4>
      <p class="group-information">
        <% if(current_user.gender == 'M') %>
	  <%= 'Joukkue on sekajoukkue. Joukkueen tyyppi määräytyy lopullisen kokoonpanon mukaisesti.' %>
        <% else %>
          <%= 'Joukkue on naisjoukkue. Joukkueen tyyppi määräytyy lopullisen kokoonpanon mukaisesti.' %>
        <% end %>
      </p>
      <h4>Joukkueen jäsenet:</h4>
      <p>Kirjoita nimi kenttään ja valitse jäsen listasta. Jäsenen pitää olla rekisteröitynyt. Voit täydentää joukkuetta myöhemmin.</p><br>
      <div class="input-group jasen">
        <span class="input-group-addon jasen-jarjestys">1.</span>
        <%= text_field_tag 'kk_numbers[]', nil, :class => "form-control autocomplete jasen-numero", :id => "member1", :value => current_user.kk_number, :readonly => 1 %>
        <span class="input-group-addon jasen-nimi <%= current_user.gender %>"><%= current_user.first_name << " " << current_user.last_name %></span>
      </div>
      <div class="input-group jasen">
        <span class="input-group-addon jasen-jarjestys">2.</span>
        <%= text_field_tag 'kk_numbers[]', nil, :class => "form-control autocomplete jasen-numero", :id => "member2", :placeholder => "Kirjoita tähän" %>
        <span class="input-group-addon jasen-nimi">&nbsp;&nbsp;&nbsp</span>
      </div>
      <div class="input-group jasen">
        <span class="input-group-addon jasen-jarjestys">3.</span>
        <%= text_field_tag 'kk_numbers[]', nil, :class => "form-control autocomplete jasen-numero", :id => "member3", :placeholder => "Kirjoita tähän"  %>
        <span class="input-group-addon jasen-nimi">&nbsp;&nbsp;&nbsp</span>
      </div>
      <div class="input-group jasen">
        <span class="input-group-addon jasen-jarjestys">4.</span>
        <%= text_field_tag 'kk_numbers[]', nil, :class => "form-control autocomplete jasen-numero", :id => "member4", :placeholder => "Kirjoita tähän"  %>
        <span class="input-group-addon jasen-nimi">&nbsp;&nbsp;&nbsp</span>
      </div>
      <div class="input-group jasen">
        <span class="input-group-addon jasen-jarjestys">5.</span>
        <%= text_field_tag 'kk_numbers[]', nil, :class => "form-control autocomplete jasen-numero", :id => "member5", :placeholder => "Kirjoita tähän"  %>
        <span class="input-group-addon jasen-nimi">&nbsp;&nbsp;&nbsp; </span>
      </div>
      <div class="input-group jasen">
        <span class="input-group-addon jasen-jarjestys">6.</span>
        <%= text_field_tag 'kk_numbers[]', nil, :class => "form-control autocomplete jasen-numero", :id => "member6", :placeholder => "Kirjoita tähän"  %>
        <span class="input-group-addon jasen-nimi">&nbsp;&nbsp;&nbsp;</span>
      </div><br/>
      <br>
    </div>

    <div class="actions">
      <%= f.submit 'Ilmoita joukkue', :class => "btn btn-primary" %>
    </div>

    <style>
      .jasen {
        border: 1px solid #cccccc;
        margin-bottom: -1px;
      }
      .jasen-numero {
        border: 0;
        box-shadow: none;
      }
      .jasen-nimi {
        border: 0;
        border-radious: 0;
      }
      .jasen-jarjestys {
        border-radius: 0;
        border: 0;
      }
    </style>

    <script type="text/javascript">
        $("input.autocomplete").autocomplete({ delay: 50, minLength: 2, autoFocus: true,
            select: function (event, ui) {
                var exists = false;
                $('input[name="kk_numbers[]"]').each(function () {
                    if ($(this).val().toString() == ui.item.value.toString() && $(this).attr('readonly') ) {
                        exists = true;
                    }
                });
                if (exists) {
                    alert('Kiertäjä on jo listalla');
                    event.preventDefault();
                    ui.item.value = null;
                    return false;
                }
                else {
                    var parent = $(event.target);
                    var id = parent.attr('id');
                    var element = parent.next('span');
                    var name = ui.item.label.replace(/\d{2,}?\s/, "");
		    var gender = ui.item.gender;
                    element.addClass(gender);
                    var males = $('.input-group-addon.M')
                    if (males.length > 0) {
                        $('.group-information').text('Joukkue on sekajoukkue. Joukkueen tyyppi määräytyy lopullisen kokoonpanon mukaisesti ja päivittyy automaattisesti.')
                    } else {
                        $('.group-information').text('Joukkue on naisjoukkue. Joukkue näkyy naisjoukkueiden tuloslistauksessa ja joukkueen nimen perässä näytetään tunnus (N). Joukkueen tyyppi määräytyy lopullisen kokoonpanon mukaisesti ja päivittyy automaattisesti.')
                    }    

                    element.html(name + '&nbsp;<a href="#"><span onclick="clearInput(event, \'' + id + '\')" class="glyphicon glyphicon-remove clearmember"></span></a>');
                    parent.prop('readonly', true);
                    parent.parent().next().children('input').focus();
                }
            },
            source: <%= raw(usersearch) %>});
        function clearInput(event, id){
            event.preventDefault();
            var element = $('#' + id);
            element.prop('readonly', false);
            element.val('');
            element.next('span').html('&nbsp;&nbsp;&nbsp;');
            element.next('span').removeClass('M N')
            var males = $('.input-group-addon.M')
            if (males.length > 0) {
                $('.group-information').text('Joukkue on sekajoukkue')
            } else {
                $('.group-information').text('Joukkue on naisjoukkue. Joukkue näkyy naisjoukkueiden tuloslistauksessa ja joukkueen nimen perässä näytetään tunnus (N). Joukkueen tyyppi määräytyy lopullisen kokoonpanon mukaisesti ja päivittyy automaattisesti.')
            }  
        }

        $(document).ready(function() {
            $('form').bootstrapValidator({
                message: 'Virheellinen syöte',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-asterisk',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    'group[name]': {
                        message: 'Joukkueen nimi ei ole kelvollinen',
                        validators: {
                            notEmpty: {
                                message: 'Joukkueella tulee olla nimi'
                            },
                            stringLength: {
                                min: 2,
                                message: 'Joukkueen nimessä tulee olla vähintään 2 merkkiä'
                            }
                        }
                    }
                }
            });
        });
    </script>

<% end %>
