<%= form_for(@group) do |f| %>
    <% if @group.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event_attribute.errors.count, "error") %> prohibited this event_attribute from being saved:</h2>

          <ul>
            <% @event_attribute.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name, 'Joukkueen nimi:' %><br>
      <%= f.text_field :name %><br>
      Anna jäsenten kiertäjänumerot:<br>
      <%= label :first_member, '1. ' %>
      <%= autocomplete_field_tag 'kk_numbers[]', '', autocomplete_user_kk_number_users_path %><br>
      <%= label :second_member, '2.' %>
      <%= autocomplete_field_tag 'kk_numbers[]', '', autocomplete_user_kk_number_users_path %><br>
      <%= label :third_member, '3.' %>
      <%= autocomplete_field_tag 'kk_numbers[]', '', autocomplete_user_kk_number_users_path %><br>
      <%= label :fourth_member, '4.' %>
      <%= autocomplete_field_tag 'kk_numbers[]', '', autocomplete_user_kk_number_users_path %><br>
      <%= label :fifth_member, '5.' %>
      <%= autocomplete_field_tag 'kk_numbers[]', '', autocomplete_user_kk_number_users_path %><br>
      <%= label :sixth_member, '6.' %>
      <%= autocomplete_field_tag 'kk_numbers[]', '', autocomplete_user_kk_number_users_path %><br>
      <br>
    </div>

    <div class="field">
    </div>

    <div class="actions">
      <%= f.submit 'Luo joukkue' %>
    </div>
<% end %>
