<h1>Olet lisäämässä jäsentä ryhmään <%= @group.name %></h1>

<p>Kirjoita jäsenen kiertäjänumero kenttään.</p>
<%= form_tag(controller: 'groups', action: 'update_user_group_relation') do %>
<div class="input-group">
       <span class="input-group-addon">1.</span>
        <%= text_field_tag 'kk_number', nil, :class => "form-control autocomplete", :id => "member" %>
       <span class="input-group-addon">&nbsp;&nbsp;&nbsp</span>
</div>

<div class="actions">
  <%= submit_tag 'Lisää jäsen', :class => "btn btn-primary" %>
</div>
<% end %>

<script type="text/javascript">
    $("input.autocomplete").autocomplete({ delay: 50, minLength: 2, autoFocus: true,
        select: function (event, ui) {
            var exists = false;
            $('input[name="kk_number"]').each(function () {
                if ($(this).val().toString() == ui.item.value.toString() && $(this).attr('readonly') ) {
                    exists = true;
                }
            });
            if (exists) {
                alert('Kiertäjä on jo listalla');
                event.preventDefault();
                ui.item.value = null;
                return false;
            }
            else {
                var parent = $(event.target);
                var id = parent.attr('id');
                var element = parent.next('span');
                var name = ui.item.label.replace(/\d{2,}?\s/, "");

                element.html(name + '&nbsp;<a href="#"><span onclick="clearInput(event, \'' + id + '\')" class="glyphicon glyphicon-remove clearmember"></span></a>');
                parent.prop('readonly', true);
                parent.parent().next().children('input').focus();
            }
        },
        source: <%= raw(usersearch) %>});
    function clearInput(event, id){
        event.preventDefault();
        var element = $('#' + id);
        element.prop('readonly', false);
        element.val('');
        element.next('span').html('&nbsp;&nbsp;&nbsp;');
    }
</script>