<h2><%= @group.name %></h2>
<p class="group-information">
    <span>Joukkue osallistuu joukkuekilpailuun ja on </span>
    <span>
        <% if(@isFemaleGroup) %>
	        <%= 'naisjoukkue.' %>
        <% else %>
            <%= 'sekajoukkue.' %>
        <% end %>
    </span>
    <span>Joukkueen tyyppi määräytyy lopullisen kokoonpanon mukaisesti.</span>
</p>
<p>Kapteeni: <%= @captain.full_name %></p>
<p>Jäsenet:</p>
<table class="table table-bordered">
<tbody>
  <% @users.each do |u| %>
<tr>
  <td><%= u.full_name %></td>
  <td><%= u.email %></td>
  <td><%= u.kk_number %></td>
  <% if not current_user.nil? and @captain == current_user or user_is_admin? %>
     <td><%= link_to 'Poista jäsen', delete_user_from_group_path(@group.id, user_id: u.id), method:'PUT' %></td>
  <% end %>
</tr>
<% end %>
</tbody>
</table>
<h4>
    <% if not current_user.nil? and @captain == current_user or user_is_admin? and @count < 6 %>
        <%= link_to 'Lisää uusi jäsen', add_user_to_group_path(@group.id), :class => "btn btn-success" %>
    <% end %>
</h4>
<h4><%= link_to 'Omat tiedot', user_path(current_user), :class => "btn btn-primary" %></h4>
<h1><a href="http://kalevankierros.fi/" class="btn btn-default">Takaisin etusivulle</a></h1>

