<h1><%= @group.name %></h1>
<strong>Kapteeni: <%= @captain.full_name %></strong>
<table class="table table-bordered">
<thead>
<tr>
    <th>Jäsenen nimi</th>
    <th>Jäsenen sähköposti</th>
    <th>Jäsenen kiertäjänumero</th>
    <th>Poista henkilö</th>
</tr>
</thead>
<tbody>
  <% @users.each do |u| %>
<tr>
  <td><%= u.full_name %></td>
  <td><%= u.email %></td>
  <td><%= u.kk_number %></td>
  <td><%= link_to 'Poista henkilö joukkueesta', delete_user_from_group_path(@group.id, user_id: u.id), method:'PUT' %></td>
</tr>
<% end %>
</tbody>
</table>
<%= link_to 'Etusivu', root_path %> |
<% if not current_user.nil? and @captain == current_user or user_is_admin? and @count < 6 %>
    <%= link_to 'Lisää henkilö joukkueeseen', add_user_to_group_path(@group.id) %>
<% else %>
    Et voi lisätä joukkueeseen henkilöitä.
<% end %>
