    <%= bootstrap_form_for(@user) do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= f.text_field :first_name, label: "Etunimi: " %>
        <%= f.text_field :last_name, label: "Sukunimi: " %>

        <%= f.text_field :username, label: "Käyttäjätunnus: " %>
        <%= f.text_field :email, label: "Sähköpostiosoite: " %>

        <%= f.text_field :phone_number, label: "Puhelinnumero: " %>
        <%= f.date_select(:birth_date, :default => {day: 1, month: 1, year: 1980}, start_year: Time.now.year - 100, end_year: Time.now.year, order: [:day, :month, :year], label: 'Syntymäpäivä' ) %>
        <%= f.select :gender, [['Mies', 'M'], ['Nainen', 'F']], label: "Sukupuoli: " %>
        <%= f.text_field :street_address, label: "Katuosoite: " %>
        <%= f.text_field :postal_code, label: "Postinumero: " %>
        <%= f.text_field :city, label: "Postitoimipaikka: " %>

        <%= f.password_field :password, label: "Salasana: " %>
        <%= f.password_field :password_confirmation, label: "Salasana uudestaan: " %>

        <% if defined?(subpage) && subpage.to_s == 'edit' %>
            <%= f.submit "Muokkaa tietoja", :class => "btn btn-primary" %>
        <% else %>
            <%= f.submit "Rekisteröidy", :class => "btn btn-primary" %>
        <% end %>
    <% end %>
<script type="text/javascript">
    $(document).ready(function() {
        $('form').bootstrapValidator({
            message: 'Virheellinen syöte',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-asterisk',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'user[first_name]': {
                    validators: {
                        notEmpty: {
                            message: 'Etunimi ei voi olla tyhjä'
                        }
                    }
                },
                'user[last_name]': {
                    validators: {
                        notEmpty: {
                            message: 'Sukunimi ei voi olla tyhjä'
                        }
                    }
                },
                'user[username]': {
                    validators: {
                        notEmpty: {
                            message: 'Käyttäjänimi ei voi olla tyhjä'
                        },
                        stringLength: {
                            min: 3,
                            message: 'Käyttäjänimessä tulee olla vähintään 3 merkkiä'
                        }
                    }
                },
                'user[email]': {
                    validators: {
                        emailAddress: {
                            message: 'Anna täydellinen sähköpostiosoite'
                        }
                    }
                },
                'user[address]': {
                    validators: {
                        notEmpty: {
                            message: 'Osoite ei voi olla tyhjä'
                        },
                        stringLength: {
                            min: 5,
                            message: 'Osoitteessa tulee olla vähintään 5 merkkiä'
                        }
                    }
                },
                'user[password]': {
                    validators: {
                        notEmpty: {
                            message: 'Salasana ei voi olla tyhjä'
                        },
                        stringLength: {
                            min: 6,
                            message: 'Salasanan tulee olla vähintään 6 merkkiä pitkä'
                        },
                        regexp: {
                            regexp: /.*(\d.*[A-Z]|[A-Z].*\d).*/,
                            message: 'Salasanassa tulee olla isoja ja pieniä kirjaimia sekä numeroita'
                        }
                    }
                },
                'user[password_confirmation]': {
                    validators: {
                        identical: {
                            field: 'user[password]',
                            message: 'Salasanat eivät täsmää'
                        }
                    }
                }


            }
        });
    });
</script>
