<div class="col-lg-12">
  <h1>Rekisteröityneet käyttäjät</h1>

  <table id="users" class="table table-striped tablesorter-blue">
    <thead>
    <tr>
      <th>Sukunimi</th>
      <th>Etunimi</th>
      <th>Käyttäjänimi</th>
      <th>Sähköposti</th>
      <th colspan="4"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.last_name %></td>
          <td><%= user.first_name %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'Näytä', user, class: "btn btn-primary btn-sm" %></td>
          <td><%= link_to 'Liitä tilastoon', join_statistic_path(user), :'data-no-turbolink' => true, class: "btn btn-primary btn-sm" %></td>
          <td><%= link_to 'Muokkaa', edit_user_path(user), class: "btn btn-warning btn-sm" %></td>
          <td><%= link_to 'Poista', user, method: :delete, data: {confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <script type="text/javascript">

      $(document).ready(function () {
                  $("#users").tablesorter( {headers: {4: {sorter:false}}});
              }
      );
  </script>
  <br>

  <%= link_to 'Luo uusi käyttäjä', new_user_path, class: "btn btn-primary" %>
</div>
