<h2><%= link_to <%= @user.first_name %> <%= @user.last_name %>, edit_user_path(@user) %></h2>
<% if not current_user.nil? and current_user.id == @user.id %>
    <% if @kk_enrollment %>
        <h4>Olet ilmoittautunut Kalevan Kierrokselle <%= @year %></h4>
        <% if @group.nil? %>
            <p>Yksilön kierrosmaksu 50 euroa maksettava viitenumerolla <%= @user.construct_reference_number %> tilille <%= @account_number %></p>
        <% end %>
    <% else %>
        <h4>Et ole ilmoittautunut Kalevan Kierrokselle <%= @year %></h4>
        <a href="http://sivut.kalevankierros.fi/ilmoittaudu/" class="nappula btn btn-primary">Ilmoittaudu</a>
    <% end %>

    <% if not @group.nil? %>
        <h4>Kuulut joukkueeseen: <%= link_to @group.name, group_path(@group) %></h4>
        <% if not @group.nil? and @group.user == current_user %>
            <p>Olet joukkueen kapteeni.</p>
            <p>Joukkueen kierrosmaksu 200 euroa maksettava viitenumerolla <%= @user.construct_reference_number %> tilille <%= @account_number %><br></p>
            <p>Sisältää joukkueen jäsenten kierrosmaksut.</p>
        <% end %>
    <% end %>

    <% if not @relay_group.nil? %>
        <h4>Kuulut viestijoukkueeseen: <%= link_to @relay_group.name, relay_group_path(@relay_group) %> ></h4>
        <% if not @relay_group.nil? and @relay_group.user == current_user %>
            <p>Viestikilpailumaksu 60 euroa maksettava viitenumerolla <%= @user.construct_reference_number %> tilille <%= @account_number %></p>
        <% end %>
    <% end %>

    <% if @group.nil? and @relay_group.nil? %>
        <h4>Et kuulu vielä joukkueeseen</h4>
        <p>Kerää viisi kaveriasi mukaan ja osallistukaa Kalevan kierrokseen joukkueena tai viestinä.</p>
        <a href="http://sivut.kalevankierros.fi/ilmoittaudu/" class="nappula btn btn-primary">Ilmoita joukkue</a>
    <% end %>

    <% if @enrollments.count > 0 %>
        <h4>Olet ilmoittautunut seuraaviin tapahtumiin:</h4>
        <% @enrollments.reverse.each do |enrollment|%>
            <p><%= link_to enrollment.event.name, enrollment_path(enrollment.id) %> ></p>
        <% end %>
    <% end %>
<% end %>
