<p id="notice"><%= notice %></p>

<p>
  <strong>Etunimi:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Sukunimi:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Käyttäjätunnus:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Sähköpostiosoite:</strong>
  <%= @user.email %>
</p>

<% if not current_user.nil? and current_user.id == @user.id %>
<p>
  <strong>Olet ilmoittautunut seuraaviin tapahtumiin</strong><br>
  <% @user.enrollments.each do |enrollment| %>
    <%= link_to enrollment.event.name, enrollment_path(enrollment.id) %><br>
  <% end %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %>
<% end %> |
<%= link_to 'Back', users_path %>
