<h2>
  <%= link_to edit_user_path(@user) do %>
  <%= @user.first_name %> <%= @user.last_name %>
  <% end %>
</h2>
<h3>Kiertäjänumerosi on: <%= @user.kk_number %></h3>

<% if not current_user.nil? and current_user.id == @user.id %>
<% if not @enrollments.nil? or @enrollment.count > 0 %>

  <h4>Olet ilmoittautunut seuraaviin tapahtumiin:</h4>
        <% if @kk_enrollment %>
            <p>Kalevan Kierros. Vuosi: <%= @year %></p>
            <% if not @group.nil? and @group.user == current_user %>
                <p>
                    Kierrosmaksu 200 euroa maksettava viitenumerolla <%= @user.construct_reference_number %> tilille <%= @account_number %><br>
                </p>
            <% elsif @group.nil? %>
                <p>
                    Kierrosmaksu 50 euroa maksettava viitenumerolla <%= @user.construct_reference_number %> tilille <%= @account_number %>
                </p>
            <% end %>
        <% end %>
        <p>
          <% @enrollments.each do |enrollment|%>
    <%= link_to enrollment.event.name, enrollment_path(enrollment.id), class: 'label label-primary' %><br>
  <% end %>
</p>
<% end %>
<% if not @group.nil? %>
   <p>
     <strong>Kuulut joukkueeseen: </strong>
     <%= link_to @group.name, group_path(@group) %>
   </p>
<% end %>
<% end %>