<p>
  <strong>Etunimi:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Sukunimi:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Käyttäjätunnus:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Sähköpostiosoite:</strong>
  <%= @user.email %>
</p>

<% if not current_user.nil? and current_user.id == @user.id %>
<% if not @enrollments.nil? or @enrollment.count > 0 %>
<p>
  <strong>Olet ilmoittautunut seuraaviin tapahtumiin</strong><br>
  <% @enrollments.each do |enrollment|%>
    <%= link_to enrollment.event.name, enrollment_path(enrollment.id) %><br>
  <% end %>
</p>
<% end %>
<% if not @group.nil? %>
   <p>
     <strong>Kuulut joukkueeseen: </strong>
     <%= link_to @group.name, group_path(@group) %>
   </p>
<% end %>
<%= link_to 'Muokkaa tietoja', edit_user_path(@user) %>
<% end %> |
<%= link_to 'Palaa takaisin', users_path %>
