<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<p><%= link_to 'Muokkaa tietojasi', edit_user_path(@user), :class => "btn btn-default" %></p>
<% if not current_user.nil? and current_user.id == @user.id %>
    <% if current_user.statistic and false %>
        <p><%= link_to 'Oma tilasto', statistic_path(current_user.statistic.id), :class => "btn btn-primary" %></p>
        <br/>
    <% end %>

    <% if @enrollments.count > 0 %>
        <h4>Olet ilmoittautunut seuraaviin tapahtumiin:</h4>
        <% @enrollments.reverse.each do |enrollment|%>
            <p><%= link_to enrollment.event.name, enrollment_path(enrollment.id) %> ></p>
        <% end %>
    <% end %>

    <% if @kk_enrollment %>
        <p>
            Olet ilmoittautunut Kalevan Kierroksen yksilökilpailuun <%= @year %>.
            <% if @group.nil? %>
                Kierrosmaksu 50 euroa on maksettava viitenumerolla <%= @user.construct_reference_number %> Kalevan kierros ryn tilille <%= @account_number %>.
                Maksu sisältää Kalevan kierros ryn jäsenmaksun 20 euroa ja yhteiskilpailumaksun 30 euroa.
           <% end %>
        </p>
    <% else %>
        <p>Et ole vielä ilmoittautunut Kalevan Kierrokselle <%= @year %>.</p>
        <h4><a href="http://sivut.kalevankierros.fi/ilmoittaudu/" class="nappula btn btn-primary">Ilmoittaudu</a></h4>
    <% end %>
    <br/>

    <% if not @group.nil? %>
        <h4>Kuulut joukkueeseen: <%= @group.name %></h4>
        <% if not @group.nil? and @group.user == current_user %>
            <p>
                Olet joukkueen kapteeni. Joukkueen kierrosmaksu 200 euroa on maksettava viitenumerolla <%= @user.construct_reference_number %>
                Kalevan kierros ry tilille <%= @account_number %>.
                Maksu sisältää joukkueen jäsenien yksilökilpailumaksut ja Kalevan kierros ryn jäsenmaksut.
            </p>
        <% else %>
            <p>Joukkueesi kierrosmaksu 200 euroa sisältää Kalevan kierroksen jäsenmaksusi ja yksilökilpailumaksun.</p>
        <% end %>
        <h4><%= link_to "Joukkueen sivu", group_path(@group), :class => "btn btn-primary" %></h4>
        <br/>
    <% end %>

    <% if not @relay_group.nil? %>
        <h4>Kuulut viestijoukkueeseen: <%= @relay_group.name %></h4>
        <% if not @relay_group.nil? and @relay_group.user == current_user %>
            <p>
                Olet viestijoukkueen kapteeni. Viestikilpailumaksu 60 euroa on maksettava viitenumerolla <%= @user.construct_reference_number %>
                Kalevan kierros ryn tilille <%= @account_number %>. Maksu ei sisällä Kalevan kierroksen jäsenmaksuja eikä yksilökilpailumaksuja.
            </p>
        <% end %>
        <h4><%= link_to "Joukkueen sivu", relay_group_path(@relay_group), :class => "btn btn-primary" %></h4>
        <br/>
    <% end %>

    <% if @group.nil? and @relay_group.nil? %>
        <h4>Et kuulu vielä joukkueeseen</h4>
        <p>Kerää viisi kaveriasi mukaan ja osallistukaa Kalevan kierrokseen joukkueena tai viestinä.</p>
        <h4><a href="http://sivut.kalevankierros.fi/ilmoittaudu/" class="nappula btn btn-primary">Ilmoita joukkue</a></h4>
        <br/>
    <% end %>
<% end %>
