<h3>Tulokset vuosittain</h3>

<% @years.reverse.each do |year| %>
<p style="font-size: larger;">
    <span style="font-weight: bold;"><%= year %></span>:
    <%= link_to "Kiertäjät "<< '', index_by_year_path(year, "all", "all", "all") %>&nbsp;|&nbsp;
    <%= link_to "Naiset "<< '', index_by_year_path(year, "N", "all", "all") %>&nbsp;|&nbsp;
    <%= link_to "Joukkueet " << '', results_path << '/year/' << year.to_s << '/groups' %>&nbsp;|&nbsp;
    <%= link_to "Naisjoukkueet " << '', results_path << '/year/' << year.to_s << '/groups?sort=naisjoukkueet' %>
    <% if year >= 2017 %>&nbsp|&nbsp;
        <%= link_to "Viesti " << '', results_path << '/year/' << year.to_s << '/relay_groups' %>
    <% end %>
    </p>
<% end %>

<p style="font-size: larger;">
    <span style="font-weight: bold;">2014</span>:
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2014/laji6_kierros_tulokset.html">Kiertäjät</a>&nbsp;|&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2014/laji6_kierros_tulokset_Naiset.html">Naiset</a>&nbsp;|&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2014/laji6_kierros_joukkuetulokset.html">Joukkueet</a>&nbsp;|&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2014/laji6_kierros_joukkuetulokset_naiset.html">Naisjoukkueet</a>
</p>
<p style="font-size: larger;">
    <span style="font-weight: bold;">2013</span>:
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2013/laji6_kierros_tulokset.html">Kiertäjät</a>&nbsp;|&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2013/laji6_kierros_tulokset_Naiset.html">Naiset</a>&nbsp;|&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2013/laji6_kierros_joukkuetulokset.html">Joukkueet</a>&nbsp;|&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2013/laji6_kierros_joukkuetulokset_naiset.html">Naisjoukkueet</a>
</p>
<p style="font-size: larger;">
    <span style="font-weight: bold;">2012</span>:&nbsp;
    Täysmatka:&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2012/laji6_kierros_tulokset.html">Kiertäjät</a>&nbsp;|&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2012/laji6_kierros_tulokset_Naiset.html">Naiset</a>&nbsp;|&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2012/laji6_kierros_tulokset.html">Joukkueet</a>&nbsp;|&nbsp;
    Puolimatka:&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2012/laji6_puolikas_tulokset.html">Kiertäjät</a>&nbsp;|&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2012/laji6_puolikas_tulokset-naiset.html">Naiset</a>&nbsp;|&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2012/laji6_puolikas_joukkuetulokset.html">Joukkueet</a>&nbsp;|&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2012/laji6_puolikas_joukkuetulokset_naiset.html">Naisjoukkueet</a>
</p>
<p style="font-size: larger;">
    <span style="font-weight: bold;">2011</span>:&nbsp;
    Täysmatka:&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2011/laji6_kierros_tulokset.html">Kiertäjät</a>&nbsp;|&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2011/laji6_kierros_tulokset_Naiset.html">Naiset</a>&nbsp;|&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2011/laji6_kierros_tulokset.html">Joukkueet</a>&nbsp;|&nbsp;
    Puolimatka:&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2011/laji6_puolikas_tulokset.html">Kiertäjät</a>&nbsp;|&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2011/laji6_puolikas_tulokset-naiset.html">Naiset</a>&nbsp;|&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2011/laji6_puolikas_joukkuetulokset.html">Joukkueet</a>&nbsp;|&nbsp;
    <a href="http://tiedot.kalevankierros.fi/vanhat_sivut/datafiles/userfiles/File/tulokset/2011/laji6_puolikas_joukkuetulokset_naiset.html">Naisjoukkueet</a>
</p>

<h3>Tilastot</h3>

<p style="font-size: larger;">
    <a href="<%= statistics_path %>/static">Perustilasto</a>&nbsp;|&nbsp;
    <a href="<%= statistics_path %>/search">Tilasto hakuominaisuudella</a>
</p>
<p>Hakuominaisuudella varustetusta taulukosta voit etsiä tilastoja hakuehdoin. Tämä tilastonäkymä voi olla hidas tietyillä selaimilla.</p>

<%= @time %><br>