<h1>Vuoden <%= params[:year] %> tulokset, laji: <%= @laji %></h1>
<p>valitse laji:
  <select id="selector">
    <option value="all">Kaikki</option>
    <option value="skating">Luistelu</option>
    <option value="skiing">Hiihto</option>
    <option value="marathon">Juoksu</option>
    <option value="rowing">Soutu</option>
    <option value="cycling">Pyöräily</option>
    <option value="orienteering">Suunnistus</option>
  </select>
  valitse sukupuoli:
  <select id="selector2">
    <option value="all" <% if params[:gender] == "all" then %> selected <% end %>>Kaikki</option>
    <option value="M" <% if params[:gender] == "M" then %> selected <% end %>>Miehet</option>
    <option value="N" <% if params[:gender] == "N" then %> selected <% end %>>Naiset</option>
  </select>
  valitse ikäsarja:
  <select id="selector3">
    <option value="all">Kaikki</option>
    <% @res[:series].each do |s| %>
        <% if s == params[:age_group] %>
            <option value="<%=s%>" selected><%=s%></option>
        <% else %>
            <option value="<%=s%>"><%=s%></option>
        <% end %>
    <% end %>
  </select>
  <script type="text/javascript">
      $( "#selector" ).change(function() {
          var url = '/results/year/<%= params[:year]%>/<%= params[:gender]%>/<%= params[:age_group]%>' + $(this).val();
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
      $( "#selector2" ).change(function() {
          var url = '/results/year/<%= params[:year]%>/' + $(this).val() + '/<%= params[:age_group]%>';
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
      $( "#selector3" ).change(function() {
          var url = '/results/year/<%= params[:year]%>/<%= params[:gender]%>/' + $(this).val();
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
  </script>
  <br/>
</p>
<table class="results" width="80%">
  <tr style="height: 50px; vertical-align: top;">
    <td width="20%">Sijoitus / Kilpailija</td>
    <td width="60%"></td>
    <td width="10%">Loppuaika</td>
    <td colspan="3" width="10%">Lajipisteet</td>
  </tr>

  <% i = 0
     @res[:results].each do |result| %>
      <% i += 1 %>
      <tr>
        <td width="20%"><%= result[1] %>. <%= result[0] %></td>
        <td width="60%"></td>
        <td width="10%"><%= seconds_to_human_form(result[3]) %></td>
        <td colspan="3" width="10%"><%= result[2] %></td>
      </tr>

  <% end %>
</table>
<style type="text/css">
  table.results {
      width:100%;max-width:100%;margin-bottom:20px
  }
        table.child{
            margin-top: 5px; margin-bottom: 20px; float: right;
        }
</style>
<br>

<%= link_to 'New Result', new_result_path %>