<h1>Vuoden <%= params[:year] %> tulokset</h1>
<p>Rajaa tuloksia: valitse laji
  <select id="selector1" class="form-control input-sm <% unless params[:type].eql?("all") %>selected<% end %>">
    <option value="all" <% if params[:type] == "all" then %> selected <% end %>>Kaikki</option>
    <option value="skating" <% if params[:type] == "skating" then %> selected <% end %>>Luistelu</option>
    <option value="skiing" <% if params[:type] == "skiing" then %> selected <% end %>>Hiihto</option>
    <option value="marathon" <% if params[:type] == "marathon" then %> selected <% end %>>Juoksu</option>
    <option value="rowing" <% if params[:type] == "rowing" then %> selected <% end %>>Soutu</option>
    <option value="cycling" <% if params[:type] == "cycling" then %> selected <% end %>>Pyöräily</option>
    <option value="orienteering" <% if params[:type] == "orienteering" then %> selected <% end %>>Suunnistus</option>
  </select>
  valitse sukupuoli
  <select id="selector2" class="form-control input-sm <% unless params[:gender].eql?("all") %>selected<% end %>">
    <option value="all" <% if params[:gender] == "all" then %> selected <% end %>>Kaikki</option>
    <option value="M" <% if params[:gender] == "M" then %> selected <% end %>>Miehet</option>
    <option value="N" <% if params[:gender] == "N" then %> selected <% end %>>Naiset</option>
  </select>
  valitse ikäsarja
  <select id="selector3" class="form-control input-sm <% unless params[:age_group].eql?("all") %>selected<% end %>">
    <option value="all">Kaikki</option>
    <% @res[:series].each do |s| %>
        <% if s == params[:age_group] %>
            <option value="<%=s%>" selected><%=s%></option>
        <% else %>
            <option value="<%=s%>"><%=s%></option>
        <% end %>
    <% end %>
  </select>
  <% unless params[:type].eql?("all") and params[:gender].eql?("all") and params[:age_group].eql?("all") then %>
      <a href="/results/year/<%= params[:year]%>/all/all/all" class="btn btn-primary btn-sm">Nollaa hakuehdot</a><% end %>
  <style type="text/css">select.selected{box-shadow: 0 1px 10px red;}select.form-control{max-width: 100px; display: inline;}</style>
  <script type="text/javascript">
      $( "#selector1" ).change(function() {
          var url = '/results/year/<%= params[:year]%>/<%= params[:gender]%>/<%= params[:age_group]%>/' + $(this).val();
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
      $( "#selector2" ).change(function() {
          var url = '/results/year/<%= params[:year]%>/' + $(this).val() + '/<%= params[:age_group]%>/<%= params[:type]%>';
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
      $( "#selector3" ).change(function() {
          var url = '/results/year/<%= params[:year]%>/<%= params[:gender]%>/' + $(this).val() + '/<%= params[:type]%>';
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
  </script>
</p>

<% if params[:type] == "all" then %>
<p>Klikkaamalla kilpailijan nimeä näet tarkemmat suoritustiedot.</p>
<table class="results">
  <tr style="height: 50px; vertical-align: top;">
    <td width="20%">Sijoitus / Kilpailija</td>
    <td width="60%">Joukkue</td>
    <td width="10%">Suoritettuja lajeja</td>
    <td colspan="3" width="10%">Yhteispisteet</td>
  </tr>

  <% i = 0
     @res[:results].each do |result| %>
      <% i += 1 %>
      <tr>
        <td width="20%"><%= i %>. <a href="#" onclick="event.preventDefault(); $('#stat<%= i %>').toggle()"><%= result.name %></a></td>
        <td width="60%"><%= result.group %></td>
        <td width="10%"><%= result.completed_events %></td>
        <td colspan="3" width="10%"><% unless result.pts_sum.nil? then %><%= result.pts_sum.round(2) %> <% end %></td>
      </tr>
      <tr><td colspan="4">
      <table style="display: none; background-color: #f0f0f0;" class="results child" id="stat<%= i %>">
        <tr style="border-bottom: 1px solid black;">
          <td width="50%">Kilpailusarja</td>
          <th width="15%">Laji</th>
          <td width="3%"></td>
          <td width="9%">Loppuaika</td>
          <td width="9%">Sijoitus</td>
          <td width="12%">Pistemäärä</td>
        </tr>
      <tr>
        <td width="50%"><%= result.series %></td>
        <th width="15%">Suunnistus</th>
        <td width="3%"></td>
        <td width="9%"><%= seconds_to_human_form(result.orienteering_time) %></td>
        <td width="9%"><%= result.orienteering_pos %></td>
        <td width="12%"><% unless result.orienteering_pts.nil? then %><%=result.orienteering_pts.round(2) %> <% end %></td>
      </tr>
      <tr>
        <td></td>
        <th>Pyöräily</th>
        <td></td>
        <td><%= seconds_to_human_form(result.cycling_time) %></td>
        <td><%= result.cycling_pos %></td>
        <td><% unless result.cycling_pts.nil? then %><%=result.cycling_pts.round(2) %> <% end %></td>
      </tr>
      <tr>
        <td></td>
        <th>Soutu</th>
        <td><%= result.rowing_style %></td>
        <td><%= seconds_to_human_form(result.rowing_time) %></td>
        <td><%= result.rowing_pos %></td>
        <td><% unless result.rowing_pts.nil? then %><%=result.rowing_pts.round(2) %> <% end %></td>
      </tr>
      <tr>
        <td></td>
        <th>Maraton</th>
        <td><%= result.marathon_style %></td>
        <td><%= seconds_to_human_form(result.marathon_time) %></td>
        <td><%= result.marathon_pos %></td>
        <td><% unless result.marathon_pts.nil? then %><%=result.marathon_pts.round(2) %> <% end %></td>
      </tr>
      <tr>
        <td></td>
        <th>Hiihto</th>
        <td><%= result.skiing_style %></td>
        <td><%= seconds_to_human_form(result.skiing_time) %></td>
        <td><%= result.skiing_pos %></td>
        <td><% unless result.skiing_pts.nil? then %><%=result.skiing_pts.round(2) %> <% end %></td>
      </tr>
      <tr>
        <td></td>
        <th>Luistelu</th>
        <td></td>
        <td><%= seconds_to_human_form(result.skating_time) %></td>
        <td><%= result.skating_pos %></td>
        <td><% unless result.skating_pts.nil? then %><%=result.skating_pts.round(2) %> <% end %></td>
          </tr>
        </table>
      </td></tr>
  <% end %>
</table>
<style type="text/css">
  table.results {
      width:100%;max-width:100%;margin-bottom:20px
  }
        table.child{
            margin-top: 5px; margin-bottom: 20px; float: right;
        }
</style>

<% else %>
    <table class="results" width="80%">
      <tr style="height: 50px; vertical-align: top;">
        <td width="20%">Sijoitus / Kilpailija</td>
        <td width="60%"></td>
        <td width="10%">Loppuaika</td>
        <td colspan="3" width="10%">Lajipisteet</td>
      </tr>

      <% i = 0
         @res[:results].each do |result| %>
          <% i += 1 %>
          <tr>
            <td width="20%"><%= result[1] %>. <%= result[0] %></td>
            <td width="60%"></td>
            <td width="10%"><%= seconds_to_human_form(result[3]) %></td>
            <td colspan="3" width="10%"><%= result[2].round(2) %></td>
          </tr>

      <% end %>
    </table>
    <style type="text/css">
        table.results {
            width:100%;max-width:100%;margin-bottom:20px
        }
        table.child{
            margin-top: 5px; margin-bottom: 20px; float: right;
        }
    </style>
<% end %>

<br>
<%= link_to 'Joukkuetulokset', results_by_year_and_groups_path(params[:year]), class: "btn btn-primary" %>&nbsp;
    <% if user_is_admin? %>
<%= link_to 'Syötä uusi tulos', new_result_path, class: "btn btn-default" %>
<%= link_to 'Päivitä tilastot', update_statistics_path(params[:year]), data: { confirm: "Päivitetäänkö tilastot?" }, method: :post, class: "btn btn-default" %>
<% end %>
