<h3>Kalevan kierroksen tulokset vuosittain</h3>

<% @years.reverse.each do |year| %>
<p style="font-size: larger;">
    <span style="font-weight: bold;"><%= year %></span>:
    <%= link_to "Henkilökohtainen "<< '', index_by_year_path(year, "all", "all", "all") %>&nbsp;|&nbsp;
    <%= link_to "Joukkue " << '', results_path << '/year/' << year.to_s << '/groups' %>
    <% if year >= 2017 %>&nbsp|&nbsp;
        <%= link_to "Viesti " << '', results_path << '/year/' << year.to_s << '/relay_groups' %>
    <% end %>
    </p>
<% end %>

<h3>Kalevan kierroksen tilastot</h3>

<p>Voit valita kahden eri tilastonäkymän välillä. Perustilastonäkymässä voit järjestää tilaston sukunimen ja suoritettujen kilpailujen perusteella. </p>
<p>Hakuominaisuudella varustetusta taulukosta voit etsiä tilastoja tarkemmin hakuehdoin. Tämä tilastonäkymä voi olla hidas tietyillä selaimilla. Käytä tällöin perustilastoa.</p>
<a href="<%= statistics_path %>/static"><p class="lead">Perustilasto</a><br/><a href="<%= statistics_path %>/search">Tilasto hakuominaisuudella</p></a>

<%= @time %><br>