<h1>Vuoden <%= params[:year] %> tulokset</h1>
<p>valitse laji:
  <select id="selector">
    <option value="all">Kaikki</option>
    <option value="skating">Luistelu</option>
    <option value="skiing">Hiihto</option>
    <option value="marathon">Juoksu</option>
    <option value="rowing">Soutu</option>
    <option value="cycling">Pyöräily</option>
    <option value="orienteering">Suunnistus</option>
  </select>
  valitse sukupuoli:
  <select id="selector2">
    <option value="all" <% if params[:gender] == "all" then %> selected <% end %>>Kaikki</option>
    <option value="M" <% if params[:gender] == "M" then %> selected <% end %>>Miehet</option>
    <option value="N" <% if params[:gender] == "N" then %> selected <% end %>>Naiset</option>
  </select>
  valitse ikäsarja:
  <select id="selector3">
    <option value="all">Kaikki</option>
    <% @res[:series].each do |s| %>
        <% if s == params[:age_group] %>
            <option value="<%=s%>" selected><%=s%></option>
        <% else %>
            <option value="<%=s%>"><%=s%></option>
        <% end %>
    <% end %>
  </select>
  <script type="text/javascript">
      $( "#selector" ).change(function() {
          var url = '/results/year/<%= params[:year]%>/<%= params[:gender]%>/<%= params[:age_group]%>/' + $(this).val();
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
      $( "#selector2" ).change(function() {
          var url = '/results/year/<%= params[:year]%>/' + $(this).val() + '/<%= params[:age_group]%>';
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
      $( "#selector3" ).change(function() {
          var url = '/results/year/<%= params[:year]%>/<%= params[:gender]%>/' + $(this).val();
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
  </script>
</p>
<p>Klikkaamalla kilpailijan nimeä näet tarkemmat suoritustiedot.</p>
<table class="results">
  <tr style="height: 50px; vertical-align: top;">
    <td width="20%">Sijoitus / Kilpailija</td>
    <td width="60%">Joukkue</td>
    <td width="10%">Suoritettuja lajeja</td>
    <td colspan="3" width="10%">Yhteispisteet</td>
  </tr>

  <% i = 0
     @res[:results].each do |result| %>
      <% i += 1 %>
      <tr>
        <td width="20%"><%= i %>. <a href="#" onclick="event.preventDefault(); $('#stat<%= i %>').toggle()"><%= result.name %></a></td>
        <td width="60%"><%= result.group %></td>
        <td width="10%"><%= result.completed_events %></td>
        <td colspan="3" width="10%"><%= result.pts_sum %></td>
      </tr>
      <tr><td colspan="4">
      <table style="display: none; background-color: #f0f0f0;" class="results child" id="stat<%= i %>">
        <tr style="border-bottom: 1px solid black;">
          <td width="50%">Kilpailusarja</td>
          <th width="15%">Laji</th>
          <td width="3%"></td>
          <td width="9%">Loppuaika</td>
          <td width="9%">Sijoitus</td>
          <td width="12%">Pistemäärä</td>
        </tr>
      <tr>
        <td width="50%"><%= result.series %></td>
        <th width="15%">Suunnistus</th>
        <td width="3%"></td>
        <td width="9%"><%= seconds_to_human_form(result.orienteering_time) %></td>
        <td width="9%"><%= result.orienteering_pos %></td>
        <td width="12%"><%= result.orienteering_pts %></td>
      </tr>
      <tr>
        <td></td>
        <th>Pyöräily</th>
        <td></td>
        <td><%= seconds_to_human_form(result.cycling_time) %></td>
        <td><%= result.cycling_pos %></td>
        <td><%= result.cycling_pts %></td>
      </tr>
      <tr>
        <td></td>
        <th>Soutu</th>
        <td><%= result.rowing_style %></td>
        <td><%= seconds_to_human_form(result.rowing_time) %></td>
        <td><%= result.rowing_pos %></td>
        <td><%= result.rowing_pts %></td>
      </tr>
      <tr>
        <td></td>
        <th>Maraton</th>
        <td><%= result.marathon_style %></td>
        <td><%= seconds_to_human_form(result.marathon_time) %></td>
        <td><%= result.marathon_pos %></td>
        <td><%= result.marathon_pts %></td>
      </tr>
      <tr>
        <td></td>
        <th>Hiihto</th>
        <td><%= result.skiing_style %></td>
        <td><%= seconds_to_human_form(result.skiing_time) %></td>
        <td><%= result.skiing_pos %></td>
        <td><%= result.skiing_pts %></td>
      </tr>
      <tr>
        <td></td>
        <th>Luistelu</th>
        <td></td>
        <td><%= seconds_to_human_form(result.skating_time) %></td>
        <td><%= result.skating_pos %></td>
        <td><%= result.skating_pts %></td>
          </tr>
        </table>
      </td></tr>
  <% end %>
</table>
<style type="text/css">
  table.results {
      width:100%;max-width:100%;margin-bottom:20px
  }
        table.child{
            margin-top: 5px; margin-bottom: 20px; float: right;
        }
</style>
<br>

<%= link_to 'New Result', new_result_path %>