<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @result.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @result.city %>
</p>

<p>
  <strong>Group:</strong>
  <%= @result.group %>
</p>

<p>
  <strong>Year:</strong>
  <%= @result.year %>
</p>

<p>
  <strong>Series:</strong>
  <%= @result.series %>
</p>

<p>
  <strong>Orienteering pts:</strong>
  <%= @result.orienteering_pts.round(2) %>
</p>

<p>
  <strong>Skiing pts:</strong>
  <%= @result.skiing_pts.round(2) %>
</p>

<p>
  <strong>Marathon pts:</strong>
  <%= @result.marathon_pts.round(2) %>
</p>

<p>
  <strong>Rowing pts:</strong>
  <%= @result.rowing_pts.round(2) %>
</p>

<p>
  <strong>Cycling pts:</strong>
  <%= @result.cycling_pts.round(2) %>
</p>

<p>
  <strong>Skating pts:</strong>
  <%= @result.skating_pts.round(2) %>
</p>

<p>
  <strong>Orienteering time:</strong>
  <%= @result.orienteering_time %>
</p>

<p>
  <strong>Skiing time:</strong>
  <%= @result.skiing_time %>
</p>

<p>
  <strong>Marathon time:</strong>
  <%= @result.marathon_time %>
</p>

<p>
  <strong>Rowing time:</strong>
  <%= @result.rowing_time %>
</p>

<p>
  <strong>Cycling time:</strong>
  <%= @result.cycling_time %>
</p>

<p>
  <strong>Skating time:</strong>
  <%= @result.skating_time %>
</p>

<p>
  <strong>Orienteering pos:</strong>
  <%= @result.orienteering_pos %>
</p>

<p>
  <strong>Skiing pos:</strong>
  <%= @result.skiing_pos %>
</p>

<p>
  <strong>Marathon pos:</strong>
  <%= @result.marathon_pos %>
</p>

<p>
  <strong>Rowing pos:</strong>
  <%= @result.rowing_pos %>
</p>

<p>
  <strong>Cycling pos:</strong>
  <%= @result.cycling_pos %>
</p>

<p>
  <strong>Skating pos:</strong>
  <%= @result.skating_pos %>
</p>

<p>
  <strong>Pts sum:</strong>
  <%= @result.pts_sum.round(2) %>
</p>

<p>
  <strong>Completed events:</strong>
  <%= @result.completed_events %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
