<h1>Vuoden <%= params[:year] %> joukkuetulokset</h1>
<p>Klikkaamalla joukkueen nimeä näet joukkueen jäsenten pisteet. Voit järjestää joukkueet aakkosjärjestykseen tai pistejärjestykseen alla olevilla napeilla.</p>
<% i = 0 %>
<% if params[:sort] == "joukkueet" %>
    <% @groups = @group_points %>
    <a href="?" class="btn btn-default btn-sm">Näytä pistejärjestyksessä</a>&nbsp;
    <a href="?sort=joukkueet" class="btn btn-primary btn-sm">Näytä aakkosjärjestyksessä</a>
<% else %>
    <% @groups = @group_points.sort_by { |k, v| v }.reverse %>
    <a href="?" class="btn btn-primary btn-sm">Näytä pistejärjestyksessä</a>&nbsp;
    <a href="?sort=joukkueet" class="btn btn-default btn-sm">Näytä aakkosjärjestyksessä</a>
<% end %>
<br />
<br />
<table class="results">
  <% @groups.each do |key, value| %>
      <% i += 1 %>
      <tr>
        <td style="font-size: larger; width: 350px;">
          <a href="#" onclick="event.preventDefault(); $('#stat<%= i %>').toggle()">
            <% if params[:sort] != "joukkueet" %>
            <%= i %>.
                <% end %>
            <%= key %></a>
        </td>
        <td style="color: black; font-size: larger;"><%= value.round(2) %></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="8">
          <table style="display: none;" class="table" id="stat<%= i %>">
            <tr>
              <th>Nimi</th>
              <th>Yhteensä</th>
              <th>Luistelu</th>
              <th>Hiihto</th>
              <th>Juoksu</th>
              <th>Soutu</th>
              <th>Pyöräily</th>
              <th>Suunnistus</th>
            </tr>
            <% @group_results[key].each do |id, result| %>
                <tr>
                  <td><%= result[:name] %></td>
                  <% if result[:pts_sum].nil? %>
                      <td>Ei pisteitä</td>
                  <% else %>
                      <td><%= result[:pts_sum].round(2) %></td>
                  <% end %>
                  <% if result[:skating_pts].nil? %>
                      <td>Ei tulosta</td>
                  <% else %>
                      <td noted="<%= @result_noted_at_group_points[id][:skating] %>"><%= result[:skating_pts].round(2) %></td>
                  <% end %>
                  <% if result[:skiing_pts].nil? %>
                      <td>Ei tulosta</td>
                  <% else %>
                      <td noted="<%= @result_noted_at_group_points[id][:skiing] %>"><%= result[:skiing_pts].round(2) %></td>
                  <% end %>
                  <% if result[:marathon_pts].nil? %>
                      <td>Ei tulosta</td>
                  <% else %>
                      <td noted="<%= @result_noted_at_group_points[id][:marathon] %>"><%= result[:marathon_pts].round(2) %></td>
                  <% end %>
                  <% if result[:rowing_pts].nil? %>
                      <td>Ei tulosta</td>
                  <% else %>
                      <td noted="<%= @result_noted_at_group_points[id][:rowing] %>"><%= result[:rowing_pts].round(2) %></td>
                  <% end %>
                  <% if result[:cycling_pts].nil? %>
                      <td>Ei tulosta</td>
                  <% else %>
                      <td noted="<%= @result_noted_at_group_points[id][:cycling] %>"><%= result[:cycling_pts].round(2) %></td>
                  <% end %>
                  <% if result[:orienteering_pts].nil? %>
                      <td>Ei tulosta</td>
                  <% else %>
                      <td noted="<%= @result_noted_at_group_points[id][:orienteering] %>"><%= result[:orienteering_pts].round(2) %></td>
                  <% end %>
            <% end %>
            </td></tr>
            </td>
          </table>
      </tr>
  <% end %>
</table>
<style type="text/css">
    table.results {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px
    }

    table.child {
        margin-top: 5px;
        margin-bottom: 20px;
        float: right;
    }
    td[noted="true"] {
        background-color: red;
    }
</style>
