<h1>Vuoden <%= params[:year] %> joukkuetulokset</h1>
<table class="table table-bordered">
  <% @results.each do |key, value| %>
  <tr>
    <th colspan="3" style="color:blue"><%= key %>: <%= @group_points[key] %></th>
  </tr>
  <tr>
    <th>Nimi</th>
    <th>Kokonaispisteet</th>
    <th>Suoritetut lajit</th>
  </tr>
    <% value.each do |v| %>
  <tr>
        <td><%= v.name %></td>
    <% if v.pts_sum.nil? %>
    <td>Ei pisteitä</td>
    <% else %>
        <td><%= v.pts_sum %></td>
    <% end %>
    <% if v.completed_events.nil? %>
        <td>Ei suoritettuja osakilpailuja</td>
    <% else %>
        <td><%= v.completed_events %></td>
  <% end %>
<% end %>
  </tr>
  <% end %>
</table>