<%= bootstrap_form_for(@event) do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.select :type, options_for_select(@event_types), label: 'Jos haluat valmiin pohjan tapahtumalle, valitse jokin seuraavista.' %>
    </div>
    <div class="field">
      <%= f.text_field :name, label: 'Tapahtuman nimi' %>
    </div>
    <div class="field">
      <%= f.date_select :start_date, label: 'Tapahtuman aloituspäivämäärä' %>
    </div>
    <div class="field">
      <%= f.date_select :end_date, label: 'Tapahtuman päättymispäivämäärä' %>
    </div>
    <div class="field">
      <%= f.text_area :description, label: 'Tapahtuman kuvaus' %>
    </div>
    <div class="field">
      <%= f.check_box :open, label: 'Avoin ilmoittautuminen' %>
    </div>

    <div class="actions">
      <% if defined?(subpage) && subpage.to_s == 'edit' %>
          <%= f.submit "Muokkaa" %>
      <% else %>
          <%= f.submit "Luo tapahtuma" %>
      <% end %>
    </div>
<% end %>
