<div class="col-lg-12">
  <h1>Selaa tapahtumia</h1>
  <p>Tällä sivulla voit tarkastella tapahtumien ilmoittautumispäivämääriä, sekä ilmoittautua niihin. Muista ilmoittautua ajoissa osakilpailuun. Osakilpailuihin ilmoittautuminen tarvitaan, jotta pisteiden laskeminen ja tulosten kirjaaminen onnistuisi.</p>

<table id="events" class="table table-striped tablesorter-bootstrap">
  <thead>
    <tr>
      <th>Nimi:</th>
      <th>Alkamispäivä:</th>
      <th>Ilmoittautuminen päättyy:</th>
      <th>Ilmoittaudu kiertäjänä</th>
      <th>Ilmoittaudu ulkopuolisena*</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_date.strftime("%-d.%-m.%-Y") %></td>
        <td><%= event.end_date.strftime("%-d.%-m.%-Y") %></td>
        <td>
          <% if Date.today >= event.start_date && Date.today <= event.second_end_date %>
          <%= link_to 'Ilmoittaudu tapahtumaan', add_enrollment_path({:event_id => event.id}) %>
          <% else %>
          Tapahtumaan ei voi ilmoittautua
          <% end %>
        </td>
        <td>
          <% if Date.today >= event.start_date && Date.today <= event.second_end_date && event.open %>
            <%= link_to 'Ilmoittaudu tapahtumaan ulkopuolisena', outsider_enrollment_path(event) %>
          <% else %>
            Tapahtumaan ei ole avointa ilmoittautumista
          <% end %>
        </td>
        <td><%= link_to 'Näytä tapahtuman tiedot', event, class: "btn btn-primary btn-sm"%></td>
        <td><% if user_is_admin? %><%= link_to 'Muokkaa tapahtumaa', edit_event_path(event), class: "btn btn-warning btn-sm"  %> <% end %></td>
        <td><% if user_is_admin? %><%= link_to 'Poista tapahtuma', event, method: :delete, data: { confirm: 'Oletko varma että haluat poistaa tapahtuman?' }, class: "btn btn-danger btn-sm" %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>* Ulkopuolisena tapahtumaan ilmoittautuminen tarkoittaa sitä, että et ilmoittaudu tapahtumaan kiertäjänä. Sinun ei tällöin tarvitse ilmoittautua Kalevan Kierrokselle. Jos haluat ilmoittautua tapahtumaan kiertäjänä, rekisteröidy ja kirjaudu sisään, sekä ilmoittaudu kierrokselle.
Huomaa, että kaikki tapahtumat eivät ole avoimia. Näihin ei voi osallistua ilmoittautumatta kierrokselle.</p>
  <script type="text/javascript">

      $(document).ready(function () {
                  $.extend($.tablesorter.themes.bootstrap, {
                      // these classes are added to the table. To see other table classes available,
                      // look here: http://twitter.github.com/bootstrap/base-css.html#tables
                      table      : 'table table-bordered',
                      caption    : 'caption',
                      header     : 'bootstrap-header', // give the header a gradient background
                      footerRow  : '',
                      footerCells: '',
                      icons      : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
                      sortNone   : 'bootstrap-icon-unsorted',
                      sortAsc    : 'icon-chevron-up glyphicon glyphicon-chevron-up',     // includes classes for Bootstrap v2 & v3
                      sortDesc   : 'icon-chevron-down glyphicon glyphicon-chevron-down', // includes classes for Bootstrap v2 & v3
                      active     : '', // applied when column is sorted
                      hover      : '', // use custom css here - bootstrap class may not override it
                      filterRow  : '', // filter row class
                      even       : '', // odd row zebra striping
                      odd        : ''  // even row zebra striping
                  });

                  $("#events").tablesorter({
                      headers: {3: {sorter: false}, 4: {sorter: false}, 5: {sorter: false}},
                      theme: "bootstrap",
                      headerTemplate: '{content} {icon}',
                      widgets: [ "uitheme" ]
                  });
              }
      );
  </script>

<% if user_is_admin? %>
     <%= link_to 'Luo uusi tapahtuma', new_event_path, class: "btn btn-primary" %>

<% end %>
</div>
