<div class="col-lg-12">
  <h1>Selaa tapahtumia</h1>

<table id="events" class="table table-striped tablesorter-blue">
  <thead>
    <tr>
      <th>Nimi:</th>
      <th>Alkamispäivä:</th>
      <th>Ilmoittautuminen päättyy:</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><%= link_to 'Näytä tapahtuman tiedot', event %></td>
        <td><% if user_is_admin? %><%= link_to 'Muokkaa tapahtumaa', edit_event_path(event)  %> <% end %></td>
        <td><% if user_is_admin? %><%= link_to 'Poista tapahtuma', event, method: :delete, data: { confirm: 'Oletko varma että haluat poistaa tapahtuman?' } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <script type="text/javascript">

      $(document).ready(function () {
                  $("#events").tablesorter( {headers: {2: {sorter:false}, 3: {sorter:false}, 4: {sorter:false}}});
              }
      );
  </script>
<br>
<% if user_is_admin? %>
     <%= link_to 'Luo uusi tapahtuma', new_event_path %>

<% end %>
</div>