<div class="col-lg-12">
  <h1>Selaa tapahtumia</h1>

<table id="events" class="table table-striped tablesorter-blue">
  <thead>
    <tr>
      <th>Nimi:</th>
      <th>Alkamispäivä:</th>
      <th>Ilmoittautuminen päättyy:</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_date.strftime("%-d.%-m.%-Y") %></td>
        <td><%= event.end_date.strftime("%-d.%-m.%-Y") %></td>
        <td><%= link_to 'Näytä tapahtuman tiedot', event, class: "btn btn-primary btn-sm"%></td>
        <td><% if user_is_admin? %><%= link_to 'Muokkaa tapahtumaa', edit_event_path(event), class: "btn btn-warning btn-sm"  %> <% end %></td>
        <td><% if user_is_admin? %><%= link_to 'Poista tapahtuma', event, method: :delete, data: { confirm: 'Oletko varma että haluat poistaa tapahtuman?' }, class: "btn btn-danger btn-sm" %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <script type="text/javascript">

      $(document).ready(function () {
                  $("#events").tablesorter( {headers: {3: {sorter:false}, 4: {sorter:false}, 5: {sorter:false}}});
              }
      );
  </script>

<% if user_is_admin? %>
     <%= link_to 'Luo uusi tapahtuma', new_event_path, class: "btn btn-primary" %>

<% end %>
</div>