
    <h2 class="eventtitle">
      <%= @event.name %>
    </h2>

    <p>
      <strong>Ilmoittautuminen alkaa:</strong>
      <%= @event.start_date %>
    </p>

    <p>
      <strong>Ilmoittautuminen päättyy:</strong>
      <%= @event.end_date %>
    </p>

    <p>
      <strong>Kuvaus:</strong><br/>
      <%= @event.description %>
    </p>

    <% if Date.today <= @event.second_end_date && Date.today >= @event.start_date %>
        <p>
            <%= link_to 'Näytä ilmoittautumistiedot', add_enrollment_path({:event_id => @event.id}), :class => "btn btn-primary" %>
        </p>
    <% else %>
        <strong>Tapahtuman ilmoittautuminen ei ole auki.</strong>
    <% end %>

    <h1><a href="http://kalevankierros.fi/" class="nappula btn btn-default">Takaisin etusivulle</a></h1>

    <% if user_is_admin? %>
        <h2>Seuraavat kentät vain ylläpitäjille:</h2>
        <% event_price = @event.current_price %>
        <% if event_price and event_price > 0 %>
            <p>
                <span id="event_price" class="hidden"><%= event_price %></span>
                Tapahtuman osallistumismaksu on <%= "%.2f" % (event_price/100.0) %> euroa.
            </p>
        <% end %>

        <strong>Tapahtuman kentät:</strong><br>
        <% #form_for(@enrollment) do |e| %>
        <% @event.event_attributes.each do |f| %>
                <p>
                <% if f.attribute_type != "hidden" %>
                    <strong><%= f.attribute_label %></strong>
                <% end %>
                <div class="field">
                <% if f.attribute_type == "select" %>
                    <%= select_tag :sel, options_for_select(f.get_options_to_form), {:class => 'payfield', "data-prices" => f.get_prices.to_s} %><br>
                    Hinnat: <%= f.payment_value %><br>
                    Jälki-ilmoittautumisen hinnat: <%= f.second_payment_value %>
                <% end %>

                <% if f.attribute_type == "radio_button" %>
                    <% i = 0 %>
                    <% checked = true %>
                    <% f.get_options_to_form.each do |v, p| %>
                    <%= radio_button_tag(:sel, p, checked, {:class => 'payfield', "data-prices" => f.get_prices.to_s, "data-index" => i}) %>
                    <%= label_tag(:radio, v) %><br>
                    <% checked = false %>
                    <% i = i + 1 %>
                <% end %>
                Hinnat: <%= f.payment_value %><br>
                Jälki-ilmoittautumisen hinnat: <%= f.second_payment_value %>
                <% end %>

                <% if f.attribute_type == "check_box" %>
                <% f.get_options_to_form.each do |v, p| %>
                    <%= check_box_tag(:sel, p, false, {:class => 'payfield', "data-prices" => f.get_prices.to_s}) %>
                    <%= label_tag(:check, v) %><br>
                <% end %>
                Hinnat: <%= f.payment_value %><br>
                Jälki-ilmoittautumisen hinnat: <%= f.second_payment_value %>
                <% end %>
                <% if f.attribute_type == "text_field" %>
                  <%= text_field_tag(:sel, f.attribute_value) %>
                <% end %>
                <% if f.attribute_type == "plain_text" %>
                  <%= f.attribute_value %>
                <% end %>
                </div>
                </p>
            <% end %>
        <% #end %>
        <p><span id="price_sum"></span></p>
        <%= link_to 'Lisää kenttä', add_event_attribute_path({:event_id => @event.id}) %> |
        <%= link_to 'Muokkaa tapahtumaa', edit_event_path(@event) %> |
        <%= link_to 'Palaa tapahtumiin', events_path %>
    <% end %>

<script type="text/javascript">
        $(document).ready(function() {
            updateSum();
            $(".payfield").each(function() {
                $(this).change(function() {
                    updateSum();
                });
            });
        
            function updateSum() {
                var sum = 0;
                if ($("#event_price").length) {
                    sum = sum + parseInt($("#event_price").html())
                }
                $(".payfield").each(function() {
                    if($(this).is(":checkbox")) {
                        if($(this).is(":checked")) {
                            sum = sum + $(this).data("prices")[0];
                        }
                    } else if($(this).is("select")) {
                        var prices = $(this).data("prices");
                        sum = sum + prices[$(this)[0].selectedIndex];
                    } else if($(this).is(":radio")) {
                        var prices = $(this).data("prices");
                        if($(this).is(":checked")) {
                            sum = sum + $(this).data("prices")[ $(this).data('index')];
                        }
                    }
                });
                sum = sum/100
                if(sum > 0) {
                    $("#price_sum").html("Ilmoittautumismaksu on yhteensä " + sum.toFixed(2) + " euroa.");
                } else {
                    $("#price_sum").html("");
                }
            };     
        });
    </script>