<div class="col-lg-6">
<p id="notice"><%= notice %></p>

<h2 class="eventtitle">
  <%= @event.name %>
</h2>

<p>
  <strong>Ilmoittautuminen alkaa:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>Ilmoittautuminen päättyy:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Kuvaus</strong>
  <%= @event.description %>
</p>

<p>
  <strong><%= @event.id %></strong>
</p>

<% if user_is_admin? %>
<strong>Tapahtuman kentät:</strong><br>
<% #form_for(@enrollment) do |e| %>
<% @event.event_attributes.each do |f| %>
        <strong><%= f.attribute_label %></strong>
        <div class="field">
        <% if f.attribute_type == "select" %>
            <%= select_tag :sel, options_for_select(f.get_options_to_form) %>
        <% end %>

        <% if f.attribute_type == "radio_button" %>
        <% f.get_options_to_form.each do |v| %>
            <%= radio_button_tag(:sel, v) %>
            <%= label_tag(:radio, v) %><br>
        <% end %>
        <% end %>

        <% if f.attribute_type == "check_box" %>
        <% f.get_options_to_form.each do |v| %>
            <%= check_box_tag(:sel, v) %>
            <%= label_tag(:check, v) %><br>
        <% end %>
        <% end %>
        <% if f.attribute_type == "text_field" %>
        <%= text_field_tag(:sel, f.attribute_value) %>
        <% end %>
        </div>
    <% end %>
<% #end %>
<%= link_to 'Lisää kenttä', add_event_attribute_path({:event_id => @event.id}) %> |
<%= link_to 'Muokkaa tapahtumaa', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Ilmoittaudu tapahtumaan', add_enrollment_path({:event_id => @event.id}) %> |
<%= link_to 'Palaa takaisin', events_path %>
</div>