<%= bootstrap_form_for(@enrollment) do |f| %>
    <% if @enrollment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment being created!</h2>

        <ul>
          <% @enrollment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
        </div>
    <% end %>
    <h2><%= @event.name %></h2>
    <p style="white-space: pre-wrap;">
        <%= @event.description %>
    </p>
    <% event_price = @event.current_price %>
    <% if event_price and event_price > 0 %>
        <p>
            <input type="radio" checked="true"/>
            <span id="event_price" class="hidden"><%= event_price %></span>
            Osallistumismaksu (<%= "%.2f" % (event_price/100.0) %> euroa)
        </p>
    <% end %>
    <div class="field">
    <% @event.event_attributes.each do |e| %>
        <% if e.attribute_type != "hidden" %>
            <p><%= e.attribute_label %></p>
        <% end %>
          <% if e.attribute_type == "select" %>
            <%= select_tag(e.name, options_for_select(e.get_options_to_form), {:class => 'payfield', "data-prices" => e.get_prices.to_s}) %><br>
          <% end %>

          <% if e.attribute_type == "radio_button" %>
              <% i = 0 %>
              <% checked = true %>
              <% e.get_options_to_form.each do |v, p| %>
                  <%= radio_button_tag(e.name, p, checked, {:class => 'payfield', "data-prices" => e.get_prices.to_s, "data-index" => i}) %>
                  <%= label_tag(e.attribute_label, p) %><br>
                  <% checked = false %>
                  <% i = i + 1 %>
              <% end %>
          <% end %>

          <% if e.attribute_type == "check_box" %>
              <% e.get_options_to_form.each do |v, p| %>
                <%= hidden_field_tag(e.name + '[]', "", {:class => 'payfield', "data-prices" => e.get_prices.to_s}) %>
                <%= check_box_tag(e.name + '[]', p, false, {:class => 'payfield', "data-prices" => e.get_prices.to_s}) %>
                <%= label_tag(e.attribute_label, v) %><br>
              <% end %>
          <% end %>

          <% if e.attribute_type == "text_field" %>
            <%= text_field_tag(e.name, e.attribute_value) %><br>
          <% end %>

          <% if e.attribute_type == "plain_text" %>
            <%= e.attribute_value %>
          <% end %>

          <% if e.attribute_type == "date" %>
            <%= date_select(e.name, nil) %>
          <% end %>
    <% end %>
 <%= f.hidden_field :event_id, :value => params[:event_id] %>
</div>
    <p>
        <span id="price_sum"></span>
    </p>
    <div class="actions">
      <%= submit_tag 'Lähetä ilmoittautuminen eteenpäin', :class => "btn btn-primary", data: {disable_with: 'Ilmoittautuminen lähetetty'}  %>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            updateSum();
            $(".payfield").each(function() {
                $(this).change(function() {
                    updateSum();
                });
            });
        
            function updateSum() {
                var sum = 0;
                if ($("#event_price").length) {
                    sum = sum + parseInt($("#event_price").html())
                }
                $(".payfield").each(function() {
                    if($(this).is(":checkbox")) {
                        if($(this).is(":checked")) {
                            sum = sum + $(this).data("prices")[0];
                        }
                    } else if($(this).is("select")) {
                        var prices = $(this).data("prices");
                        sum = sum + prices[$(this)[0].selectedIndex];
                    } else if($(this).is(":radio")) {
                        var prices = $(this).data("prices");
                        if($(this).is(":checked")) {
                            sum = sum + $(this).data("prices")[ $(this).data('index')];
                        }
                    }
                });
                sum = sum/100
                if(sum > 0) {
                    $("#price_sum").html("Yhteensä: " + sum.toFixed(2) + " euroa");
                } else {
                    $("#price_sum").html("");
                }
            };     
        });
    </script>
<% end %>