<h2>Olet ilmoittautumassa tapahtumaan: <%= @event.name %></h2>
<strong>Täytä seuraavat tiedot oikein.</strong>

<%= bootstrap_form_tag(controller:'enrollments', action:'create_outsider_enrollment', method:'post') do |f| %>
    <%= f.fields_for :user do |u| %>
        <%= u.text_field :first_name, label: "Etunimi: " %>
        <%= u.text_field :last_name, label: "Sukunimi: " %>
        <%= u.text_field :email, label: "Sähköpostiosoite: " %>
        <%= u.text_field :phone_number, label: "Puhelinnumero: " %>
        <%= u.date_select(:birth_date, :default => {day: 1, month: 1, year: 1980}, start_year: Time.now.year - 100, end_year: Time.now.year, order: [:day, :month, :year], label: 'Syntymäpäivä' ) %>
        <%= u.select :gender, [['Mies', 'M'], ['Nainen', 'N']], label: "Sukupuoli: " %>
        <%= u.text_field :street_address, label: "Katuosoite: " %>
        <%= u.text_field :postal_code, label: "Postinumero: " %>
        <%= u.text_field :city, label: "Postitoimipaikka: " %>
    <% end %>
    <%= f.fields_for :enrollment do |enr| %>
        <% @attributes.each do |a| %>
            <strong><%= a.attribute_label %></strong><br>
            <% if a.attribute_type == "select" %>
                <%= enr.select a.name, options_for_select(a.get_options_to_form) %><br>
            <% end %>
            <% if a.attribute_type == "radio_button" %>
                <% a.get_options_to_form.each do |v| %>
                    <%= enr.radio_button(a.name, v) %>
                    <%= label_tag(a.attribute_label, v) %><br>
                <% end %>
            <% end %>

            <% if a.attribute_type == "check_box" %>
                <% a.get_options_to_form.each do |v| %>
                    <%= enr.hidden_field(a.name + '[]') %>
                    <%= enr.check_box(a.name + '[]', v) %>
                    <%= label_tag(a.attribute_label, v) %><br>
                <% end %>
            <% end %>

            <% if a.attribute_type == "text_field" %>
                <%= enr.text_field(a.name, a.attribute_value) %><br>
            <% end %>

            <% if a.attribute_type == "plain_text" %>
                <%= a.attribute_value %>
            <% end %>

            <% if a.attribute_type == "date" %>
                <%= enr.date_select(a.name, nil) %>
            <% end %>
        <% end %>
    <% end %>
    <%= f.submit "Ilmoittaudu", :class => "btn btn-primary" %>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
        $('form').bootstrapValidator({
            message: 'Virheellinen syöte',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-asterisk',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'user[first_name]': {
                    validators: {
                        notEmpty: {
                            message: 'Etunimi ei voi olla tyhjä'
                        }
                    }
                },
                'user[last_name]': {
                    validators: {
                        notEmpty: {
                            message: 'Sukunimi ei voi olla tyhjä'
                        }
                    }
                },
                'user[username]': {
                    validators: {
                        notEmpty: {
                            message: 'Käyttäjänimi ei voi olla tyhjä'
                        },
                        stringLength: {
                            min: 3,
                            message: 'Käyttäjänimessä tulee olla vähintään 3 merkkiä'
                        }
                    }
                },
                'user[email]': {
                    validators: {
                        emailAddress: {
                            message: 'Anna täydellinen sähköpostiosoite'
                        }
                    }
                },
                'user[address]': {
                    validators: {
                        notEmpty: {
                            message: 'Osoite ei voi olla tyhjä'
                        },
                        stringLength: {
                            min: 5,
                            message: 'Osoitteessa tulee olla vähintään 5 merkkiä'
                        }
                    }
                }

            }
        });
    });
</script>
