<h2>Olet ilmoittautumassa tapahtumaan: <%= @event.name %></h2>
<strong>Tapahtuman kuvaus:</strong><br>
      <%= @event.description %>
    </p>
    <% event_price = @event.current_price %>
    <% if event_price and event_price > 0 %>
        <p>
        <span id="event_price" class="hidden"><%= event_price %></span>
        Tapahtuman osallistumismaksu on <%= "%.2f" % (event_price/100.0) %> euroa.
        </p>
    <% end %>
<br><strong>Täytä seuraavat tiedot oikein.</strong>
<%= bootstrap_form_tag(controller:'enrollments', action:'create_outsider_enrollment', method:'post') do |f| %>
    <%= f.fields_for :user do |u| %>
        <%= u.text_field :first_name, label: "Etunimi: " %>
        <%= u.text_field :last_name, label: "Sukunimi: " %>
        <%= u.text_field :email, label: "Sähköpostiosoite: " %>
        <%= u.text_field :phone_number, label: "Puhelinnumero: " %>
        <%= u.date_select(:birth_date, :default => {day: 1, month: 1, year: 1980}, start_year: Time.now.year - 100, end_year: Time.now.year, order: [:day, :month, :year], label: 'Syntymäpäivä' ) %>
        <%= u.select :gender, [['Mies', 'M'], ['Nainen', 'N']], label: "Sukupuoli: " %>
        <%= u.text_field :street_address, label: "Katuosoite: " %>
        <%= u.text_field :postal_code, label: "Postinumero: " %>
        <%= u.text_field :city, label: "Postitoimipaikka: " %>
    <% end %>
    <%= f.fields_for :enrollment do |enr| %>
        <% @attributes.each do |a| %>
            <% if a.attribute_type != "hidden" %>
                <strong><%= a.attribute_label %></strong><br>
            <% end %>
            <% if a.attribute_type == "select" %>
                <%= enr.select(a.name, options_for_select(a.get_options_to_form), {}, {:class => 'payfield', "data-prices" => a.get_prices.to_s}) %><br>
            <% end %>
            <% if a.attribute_type == "radio_button" %>
                <% i = 0 %>
                <% a.get_options_to_form.each do |v, p| %>
                    <%= enr.radio_button(a.name, p, :checked => p == a.get_options_to_form[0][1], class: "payfield", "data-prices" => a.get_prices.to_s, "data-index" => i) %>
                    <%= label_tag(a.attribute_label, v) %>
                    <% i = i + 1 %>
                <% end %>
                <br>
            <% end %>

            <% if a.attribute_type == "check_box" %>
                <% a.get_options_to_form.each do |v, p| %>
                  <%= hidden_field_tag("enrollment[#{a.name}]" + '[]', "", {:class => 'payfield', "data-prices" => a.get_prices.to_s}) %>
                  <%= check_box_tag("enrollment[#{a.name}]" + '[]', p, false, {:class => 'payfield', "data-prices" => a.get_prices.to_s}) %>
                  <%= label_tag(a.attribute_label, v) %><br>
                <% end %>
            <% end %>

            <% if a.attribute_type == "text_field" %>
                <%= text_field_tag("enrollment[#{a.name}]", a.attribute_value) %><br>
            <% end %>

            <% if a.attribute_type == "plain_text" %>
                <%= a.attribute_value %>
            <% end %>

            <% if a.attribute_type == "date" %>
                <%= enr.date_select(a.name, nil) %>
            <% end %>
        <% end %>
    <% end %>
    <span id="price_sum"></span><br>
    <%= submit_tag 'Lähetä ilmoittautuminen eteenpäin', data: {disable_with: 'Ilmoittautuminen lähetetty'}  %>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
        updateSum();
            $(".payfield").each(function() {
                $(this).change(function() {
                    updateSum();
                });
            });
        
            function updateSum() {
                var sum = 0;
                if ($("#event_price").length) {
                    sum = sum + parseInt($("#event_price").html())
                }
                $(".payfield").each(function() {
                    if($(this).is(":checkbox")) {
                        if($(this).is(":checked")) {
                            sum = sum + $(this).data("prices")[0];
                        }
                    } else if($(this).is("select")) {
                        var prices = $(this).data("prices");
                        sum = sum + prices[$(this)[0].selectedIndex];
                    } else if($(this).is(":radio")) {
                        var prices = $(this).data("prices");
                        if($(this).is(":checked")) {
                            sum = sum + $(this).data("prices")[ $(this).data('index')];
                        }
                    }
                });
                sum = sum/100
                if(sum > 0) {
                    $("#price_sum").html("Ilmoittautumismaksu on yhteensä " + sum.toFixed(2) + " euroa.");
                } else {
                    $("#price_sum").html("");
                }
            }; 
        $('form').bootstrapValidator({
            message: 'Virheellinen syöte',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-asterisk',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'user[first_name]': {
                    validators: {
                        notEmpty: {
                            message: 'Etunimi ei voi olla tyhjä'
                        }
                    }
                },
                'user[last_name]': {
                    validators: {
                        notEmpty: {
                            message: 'Sukunimi ei voi olla tyhjä'
                        }
                    }
                },
                'user[username]': {
                    validators: {
                        notEmpty: {
                            message: 'Käyttäjänimi ei voi olla tyhjä'
                        },
                        stringLength: {
                            min: 3,
                            message: 'Käyttäjänimessä tulee olla vähintään 3 merkkiä'
                        }
                    }
                },
                'user[email]': {
                    validators: {
                        emailAddress: {
                            message: 'Anna täydellinen sähköpostiosoite'
                        }
                    }
                },
                'user[address]': {
                    validators: {
                        notEmpty: {
                            message: 'Osoite ei voi olla tyhjä'
                        },
                        stringLength: {
                            min: 5,
                            message: 'Osoitteessa tulee olla vähintään 5 merkkiä'
                        }
                    }
                }

            }
        });
    });
</script>