<div class="col-lg-6">

  <h1><%= @event.name %></h1>
  <table id="eventparticipants" class="table table-striped tablesorter-blue">
    <thead>
    <th>Osallistujan nimi</th>
    <th>Osallistujan sähköposti</th>
    <% @event.event_attributes.order('attribute_index asc').each do |attr| %>
        <th><%= attr.name %></th>
    <% end %>
    <th>Näytä</th>
    </thead>
    <tbody>
    <% @event.enrollments.each do |enrollment| %>
        <tr>
          <td><%= enrollment.user.first_name %> <%= enrollment.user.last_name %></td>
          <td><%= enrollment.user.email %></td>
          <% enrollment.user.get_enrollment_data_for_event(@event.id).each do |data| %>
            <td><%= data.value %></td>
          <% end %>
          <td><%= link_to 'Poista', enrollment_path(enrollment.id) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <p>
    <%= link_to 'Lataa csv-tiedostona', show_enrollments_path(@event.id, format: :csv) %><br>
    <%= link_to 'Lataa excel-tiedostona (xls)', show_enrollments_path(@event.id, format: :xls) %><br>
    <%= link_to 'Lataa excel-tiedostona (xlsx)', show_enrollments_path(@event.id, format: :xlsx) %>
  </p>
  <script type="text/javascript">

      $(document).ready(function () {
                  $("#eventparticipants").tablesorter( {headers: {2: {sorter:false}, 3: {sorter:false}, 4: {sorter:false}}});
              }
      );
  </script>
</div>