<div class="col-lg-12">

  <h1><%= @event.name %></h1>
  <%= form_tag('/event_enrollments', method: :put) do %>

  <table id="eventparticipants" class="table table-striped tablesorter-bootstrap">
    <thead>
    <th>Osallistujan nimi</th>
    <th>Osallistujan sähköposti</th>
    <th>KK-numero</th>
    <% @event.event_attributes.where.not(attribute_index: nil).order('attribute_index asc').each do |attr| %>
        <th><%= attr.name %></th>
    <% end %>
    <th>Maksettu</th>
    <th>Muuta maksutieto</th>
    <th>Lisää aika</th>
    <th>Poista aika</th>
    <th>Peru</th>
    <th>Muokkaa</th>
    </thead>
    <tbody>
    <% @event.enrollments.each do |enrollment| %>
        <tr>
          <td><%= enrollment.user.full_name %></td>
          <td><%= enrollment.user.email %></td>
          <td><%= enrollment.user.kk_number %></td>
          <% enrollment.user.get_formatted_enrollment_data_for_event(@event.id).each do |data| %>
            <td><%= data %></td>
          <% end %>
          <td >
          <% if enrollment.paid %>
            Kyllä
          <% end %>
          </td>
          <td><%= link_to 'Muuta maksutieto', update_payment_info_path(enrollment.id), method: :put, class: "btn" %></td>  
          <td ><div class="form-group">
          <% if enrollment.time.nil? %>
            <%= text_field_tag "times[#{enrollment.id}]", nil, maxlength: 8, :class => "form-control min-width" %>
          <% else %>
            <%= text_field_tag "times[#{enrollment.id}]", seconds_to_human_form(enrollment.time), :class => "form-control min-width"  %>
          <% end %>
          </div></td>
          <td><%= link_to 'Poista aika', delete_time_path(enrollment.id), method: :put, class: "btn btn-warning btn-sm" %></td>
          <td><%= link_to 'Poista', enrollment_path(enrollment.id), class: "btn btn-danger btn-sm" %></td>
          <td><%= link_to 'Muokkaa', edit_enrollment_path(enrollment.id), class: "btn" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= submit_tag 'Päivitä ajat', :class => "btn btn-primary" %><br>
  <% end %>
  <style type="text/css">.min-width{min-width: 100px;}</style><br>
  <p>
    <%= link_to 'Poista kaikki maksutiedot', cancel_payments_path(@event.id), method:'post', :class =>'btn btn-primary' %><br>
  </p>
  <p>
    <%= link_to 'Lataa csv-tiedostona', show_enrollments_path(@event.id, format: :csv) %><br>
    <%= link_to 'Lataa excel-tiedostona (xls)', show_enrollments_path(@event.id, format: :xls) %><br>
    <%= link_to 'Lataa excel-tiedostona (xlsx)', show_enrollments_path(@event.id, format: :xlsx) %><br>
  </p>

  <strong>Lisää ajat tiedostosta</strong><br>
  <%= form_tag import_file_path, multipart:true, method: :put do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'Lähetä tiedosto', :class => "btn btn-primary"  %>
  <% end %>
  <br />
  <%= link_to 'Laske kilpailijoiden pisteet', calculate_points_path(@event.id), method:'post', :class => 'btn btn-primary' %>
  </p>
  <script type="text/javascript">
      $(document).ready(function () {
                  $.extend($.tablesorter.themes.bootstrap, {
                      // these classes are added to the table. To see other table classes available,
                      // look here: http://twitter.github.com/bootstrap/base-css.html#tables
                      table      : 'table table-bordered',
                      caption    : 'caption',
                      header     : 'bootstrap-header', // give the header a gradient background
                      footerRow  : '',
                      footerCells: '',
                      icons      : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
                      sortNone   : 'bootstrap-icon-unsorted',
                      sortAsc    : 'icon-chevron-up glyphicon glyphicon-chevron-up',     // includes classes for Bootstrap v2 & v3
                      sortDesc   : 'icon-chevron-down glyphicon glyphicon-chevron-down', // includes classes for Bootstrap v2 & v3
                      active     : '', // applied when column is sorted
                      hover      : '', // use custom css here - bootstrap class may not override it
                      filterRow  : '', // filter row class
                      even       : '', // odd row zebra striping
                      odd        : ''  // even row zebra striping
                  });

                  $("#eventparticipants").tablesorter({
                      headers: {2: {sorter:false}, 3: {sorter:false}, 4: {sorter:false}},
                      theme: "bootstrap",
                      headerTemplate: '{content} {icon}',
                      widgets: [ "uitheme" ]
                  });
              }
      );
  </script>
</div>
