<div class="col-lg-12">

  <h1><%= @event.name %></h1>
  <%= form_tag('/event_enrollments', method: :put) do %>

  <table id="eventparticipants" class="table table-striped tablesorter-blue">
    <thead>
    <th>Osallistujan nimi</th>
    <th>Osallistujan sähköposti</th>
    <th>KK-numero</th>
    <% @event.event_attributes.where.not(attribute_index: nil).order('attribute_index asc').each do |attr| %>
        <th><%= attr.name %></th>
    <% end %>
    <th>Lisää aika</th>
    <th>Poista aika</th>
    <th>Näytä</th>
    </thead>
    <tbody>
    <% @event.enrollments.each do |enrollment| %>
        <tr>
          <td><%= enrollment.user.full_name %></td>
          <td><%= enrollment.user.email %></td>
          <td><%= enrollment.user.kk_number %></td>
          <% enrollment.user.get_enrollment_data_for_event(@event.id).each do |data| %>
            <td><%= data.value %></td>
          <% end %>
          <td><div class="form-group">
          <% if enrollment.time.nil? %>
            <%= text_field_tag "times[#{enrollment.id}]", nil, maxlength: 8, :class => "form-control" %>
          <% else %>
            <%= text_field_tag "times[#{enrollment.id}]", seconds_to_human_form(enrollment.time), :class => "form-control"  %>
          <% end %>
          </div></td>
          <td><%= link_to 'Poista aika', delete_time_path(enrollment.id), method: :put %></td>
          <td><%= link_to 'Poista', enrollment_path(enrollment.id) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= submit_tag 'Päivitä ajat', :class => "btn btn-primary" %><br>
  <% end %>

  <p>
    <%= link_to 'Lataa csv-tiedostona', show_enrollments_path(@event.id, format: :csv) %><br>
    <%= link_to 'Lataa excel-tiedostona (xls)', show_enrollments_path(@event.id, format: :xls) %><br>
    <%= link_to 'Lataa excel-tiedostona (xlsx)', show_enrollments_path(@event.id, format: :xlsx) %><br>
  </p>

  <strong>Lisää ajat tiedostosta</strong><br>
  <%= form_tag import_file_path, multipart:true, method: :put do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'Lähetä tiedosto', :class => "btn btn-primary"  %>
  <% end %>
  <br />
  <%= link_to 'Laske kilpailijoiden pisteet', calculate_points_path(@event.id), method:'post', :class => 'btn btn-primary' %>
  </p>
  <script type="text/javascript">

      $(document).ready(function () {
                  $("#eventparticipants").tablesorter( {headers: {2: {sorter:false}, 3: {sorter:false}, 4: {sorter:false}}});
              }
      );
  </script>
</div>