<div class="col-lg-6">
    <h2><%= @enrollment.event.name %></h2>
    <h3><%= @enrollment.user.first_name %> <%= @enrollment.user.last_name %></h3>
    <h4>Ilmoittautumistiedot</h4>
    <table class="table table-bordered">
    <% @data.each do |data| %>
      <tr>
        <td><%= data.name %></td>
        <td><%= data.value %></td>
      </tr>
    <% end %>
    </table>
    <% if !@account_number.empty? and @price > 0 %>
        <h4>Maksutiedot</h4>
        <p>Tilinumero: <%= @account_number %></p>
        <p>Saaja: <%= @receiver %></p>
        <p>Viitenumero: <%= @reference_number %></p>
        <p>Osallistumismaksu: <%= @price %> euroa</p>
        <p>Er채p채iv채: <%= @pay_day %></p>
    <% end %>
    <h4><%= link_to 'Takaisin', user_path(current_user), :class => "btn btn-primary" %></h4>
    <% if user_is_admin? %>
      <%= link_to 'Peru ilmoittautuminen', @enrollment, method: :delete, data: { confirm: 'Oletko varma ett채 haluat perua ilmoittautumisen?' } %>
    <% end %>
</div>