<div class="col-lg-6">
<h1><%= @enrollment.event.name %> <%= @enrollment.user.first_name %> <%= @enrollment.user.last_name %></h1>
<table class="table table-bordered">
  <tr>
    <th>Ilmoittautumisen tiedon otsikko</th>
    <th>Tiedon sis채lt채m채 data</th>
  </tr>
<% @data.each do |data| %>
  <tr>
    <td><%= data.name %></td>
    <td><%= data.value %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Takaisin', user_path(current_user) %><br>
<% if user_is_admin? %>
  <%= link_to 'Peru ilmoittautuminen', @enrollment, method: :delete, data: { confirm: 'Oletko varma ett채 haluat perua ilmoittautumisen?' } %>
<% end %>
</div>