<div class="col-lg-4">

<h1>Vuoden <%= @year %> ansiomerkit</h1>
<b>Kalevan Kierroksen Veljeskunta</b>

<table class="table table-striped">
  <thead>
    <th>KK-numero</th>
    <th>Nimi</th>
    <th>Kotipaikka</th>
    <th>Lajit</th>
  </thead>
  <body>
<% @veljeskunta.each do |r| %>
  <tr>
    <td><%= r.kk_number %></td>
    <td><%= r.first_name + " " + r.last_name %></td>
    <td><%= r.city %></td>
    <td><%= r.statistic.total_events_completed + r.completed_events %></td>
  </tr>
<% end %>
  </body>
</table>

</br>
<b>Kalevan Kierroksen uudet Kunniakiertäjät</b>

<table class="table table-striped">
  <thead>
    <th>KK-numero</th>
    <th>Nimi</th>
    <th>Kotipaikka</th>
    <th>Lajit</th>
  </thead>
  <body>
<% @kunniakiertajat.each do |r| %>
  <tr>
    <td><%= r.kk_number %></td>
    <td><%= r.first_name + " " + r.last_name %></td>
    <td><%= r.city %></td>
    <td><%= r.statistic.total_events_completed + r.completed_events %></td>
  </tr>
<% end %>
  </body>
</table>

</br>
<b>Kalevan Kierroksen uudet Ansioviirit</b>

<table class="table table-striped">
  <thead>
    <th>KK-numero</th>
    <th>Nimi</th>
    <th>Kotipaikka</th>
    <th>Lajit</th>
  </thead>
  <body>
<% @ansioviirit.each do |r| %>
  <tr>
    <td><%= r.kk_number %></td>
    <td><%= r.first_name + " " + r.last_name %></td>
    <td><%= r.city %></td>
    <td><%= r.statistic.total_events_completed + r.completed_events %></td>
  </tr>
<% end %>
  </body>
</table>

</br>
<b>Kalevan kierroksen kehittyjät</b>

<table class="table table-striped">
  <thead>
    <th>KK-numero</th>
    <th>Nimi</th>
    <th>Kotipaikka</th>
    <th>Pisteitä tänä vuonna</th>
    <th>Pisteitä viime vuonna</th>
    <th>Pistemuutos</th>
    <th>Muutos lajia kohti</th>
  </thead>
  <body>
<% @vuoden_kehittyjat.each do |r| %>
  <tr>
    <td><%= r.kk_number %></td>
    <td><%= r.first_name + " " + r.last_name %></td>
    <td><%= r.city %></td>
    <td><%= r.pts_sum %></td>
    <td><%= r.statistic.prev_year_pts_sum %></td>
    <td><%= r.pts_sum - r.statistic.prev_year_pts_sum %></td>
    <td><%= ((r.pts_sum - r.statistic.prev_year_pts_sum)/6.0).round(2) %></td>
  </tr>
<% end %>
  </body>
</table>
</div>