<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Kalevan Kierros</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<!-- navibar -->

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand"><%= image_tag 'kk-logo.png', height: '95', style: 'margin-top: -50px;'  %></a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Esittely
            <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a href="/esittely/kalevankierros">Kalevan Kierros</a></li>
            <li><a href="/esittely/lajikuvaukset">Lajikuvaukset</a></li>
            <li class="divider"></li>
            <li><a href="/esittely/pistelasku">Pistelasku</a></li>
            <li><a href="/esittely/saannot">Säännöt</a></li>
          </ul>
        </li>

        <li >
          <a href="/esittely/ilmoittautuminen" id="themes">Ilmoittautuminen</a>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Tulokset <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><%= link_to 'Tulokset', results_path %></li>
            <li><a href="/statistics">Tilastot</a></li>
            <li><a href="#">Tuloslehtiarkisto</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Yhteystiedot <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a href="/yhteystiedot/palaute">Palaute</a></li>
            <li class="divider"></li>
            <li><a href="/yhteystiedot/hallitus" >Hallitus</a></li>
            <li><a href="/yhteystiedot/seurat">Seurat</a></li>
            <li><a href="/yhteystiedot/linkkeja">Linkkejä</a></li>
            <li><a href="/yhteystiedot/postituslista">Postituslista</a></li>
          </ul>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user.nil? %>
            <li><%= link_to 'Kirjaudu sisään', signin_path %></li>
            <li><%= link_to 'Rekisteröidy', signup_path %></li>
        <% else %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="adminmenu">Omat tiedot <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="omat tiedot">
                <li><%= link_to 'Listaa tapahtumat', events_path %></li>
                <li><%= link_to 'Tarkastele ilmoittautumisiasi', user_path(current_user) %></li>
                <li><%= link_to 'Näytä tilasto', statistic_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to 'Muuta tietojasi', edit_user_path(current_user) %></li>
                <li><%= link_to 'Kirjaudu ulos', signout_path, :method => 'delete' %></li>
              </ul>
            </li>
        <% end %>
        <% if user_is_admin? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="adminmenu">Ylläpito <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="ylläpito">
            <li><%= link_to 'Hallinnoi käyttäjiä', users_path %></li>
            <li><%= link_to 'Luo uusi tapahtuma', new_event_path %></li>
            <li><%= link_to 'Listaa tapahtumat', events_path %></li>
            <li><%= link_to 'Ilmoittautuneet tapahtumittain', enrollments_path %></li>
            <li><%= link_to 'Kierroksen hallinta', admin_kk_enrollment_path %></li>
          </ul>
        </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
<!-- /navibar -->

<div class="container">

<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>


<%= yield %>
</div>
<div style="height: 30px; overflow: hidden">&nbsp;</div>
<footer>
  <div class="container kk-footer">
    <p>Kalevan Kierros</p>
  </div>
</footer>
<script type="text/javascript">
    if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement('style')
        msViewportStyle.appendChild(
                document.createTextNode(
                        '@-ms-viewport{width:auto!important}'
                )
        )
        document.querySelector('head').appendChild(msViewportStyle)
    }

</script>

</body>
</html>
